<div class="row">
    <div class="col-12">
        <table class="table text-center">
            <thead>
                <tr>
                    <td><b>報名層級</b></td>
                    <td><b>報名類組</b></td>
                    <td><b>身份別</b></td>
                    <td><b>報名序號</b></td>
                </tr>
            </thead>
            <tbody>
                <tr class="table-warning">
                    <td>學士班</td>
                    <td>2</td>
                    <td>港澳生</td>
                    <td>200003</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<h2 class="text-center title">個人申請志願</h2>

<hr>

<div class="alert alert-warning" role="alert">
   請選填 <strong class="text-danger">個人申請</strong> 志願，最多 <strong class="text-danger">4</strong> 個。
</div>

<a class="btn btn-info quota-button" href="#" target="_blank"><i class="fa fa-link" aria-hidden="true"></i> 個人申請名額查詢</a>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-primary text-white">注意事項</div>
            <div class="card-block">
                <p>
                    欲申請醫學、牙醫、及中醫學系者，其最近連續居留海外／港澳需 8 年以上。
                </p>
                <p>
                     醫學、牙醫、及中醫學系以 <mark>黃底</mark> 標註。
                </p>
                <p>
                    <strong>操作說明</strong>
                    <ol>
                        <li>先於左欄招生校系清單以「學校名稱」、「系所名稱」或「志願代碼」查詢，點選 [+] 將志願加入右欄。</li>
                        <li>於右欄可以 [x] 刪除志願；以拖曳方式調整志願順序。</li>
                        <li>最多可選 <strong class="text-danger">3(?)</strong> 個志願。</li>
                    </ol>
                </p>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-lg-6">
        <div class="card card-bottom">
            <div class="card-header">招生校系清單</div>
            <div class="card-block">
                <div class="row">
                    <div class="col-12">
                        <div class="form-inline">
                            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="">
                                <option selected>學校名稱</option>
                            </select>
                            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="" placeholder="關鍵字">
                            <button type="button" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </div>
                
                <hr>

                <div class="row">
                    <div class="col-12">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td>
                                        國立暨南國際大學<br>
                                        物理學系
                                    </td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-info btn-sm"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                         國立暨南國際大學<br>
                                         土木工程學系
                                    </td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-info btn-sm"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                         國立暨南國際大學<br>
                                         電機工程學系
                                    </td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-info btn-sm"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                         國立暨南國際大學<br>
                                         應用化學系
                                    </td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-info btn-sm"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                         國立暨南國際大學<br>
                                         資訊工程學系
                                    </td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-info btn-sm"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card card-bottom">
            <div class="card-header">已填選志願</div>
            <div class="card-block">
                <div id="sortTrue" class="list-group">
                    <div class="list-group-item">
                        <button type="button" class="btn btn-danger btn-sm btn-cancel"><i class="fa fa-times" aria-hidden="true"></i></button>
                        國立暨南國際大學<br> 資訊管理系
                    </div>

                    <div class="list-group-item">
                        <button type="button" class="btn btn-danger btn-sm btn-cancel"><i class="fa fa-times" aria-hidden="true"></i></button> 國立暨南國際大學
                        <br> 企業管理系
                    </div>
                    <div class="list-group-item">
                        <button type="button" class="btn btn-danger btn-sm btn-cancel"><i class="fa fa-times" aria-hidden="true"></i></button> 國立暨南國際大學
                        <br> 歷史系
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-12 text-center">
        <a class="btn btn-primary btn-bottom" href="./grade.html" role="button">上一步</a>
        <a class="btn btn-primary btn-bottom" href="#" role="button">儲存</a>
        <a class="btn btn-primary btn-bottom" href="#" role="button">下一步</a>
    </div>
</div>

<script src="//rubaxa.github.io/Sortable/Sortable.js"></script>