<% include components/_studentInfo %>

<h2 class="text-center title">聯合分發成績採計方式</h2>

<hr>

<div class="row">
	<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
		<div class="card">
			<div class="card-header bg-primary text-white">請選擇您欲申請的成績採計方式。</div>
			<div class="card-block">
				<fieldset class="form-group">
					<div class="form-check">
						<label class="form-check-label">
							<input type="radio" class="form-check-input" name="grade" id="" value="option1"> 參加學科測驗
						</label>
					</div>
					<div class="form-check">
						<label class="form-check-label">
							<input type="radio" class="form-check-input" name="grade" id="" value="option2"> 自願申請至僑先部（無需參加學科測驗）
						</label>
					</div>
				</fieldset>
			</div>
		</div>
		
	</div>
</div>

<hr>

<div class="row">
	<div class="col-12 text-center">
		<a class="btn btn-primary btn-step" href="./admissionSelection.html" role="button">上一步</a>
		<a class="btn btn-primary btn-step" href="./placementSelection.html" role="button">下一步</a>
	</div>
</div>

<a class="btn btn-primary btn-save" href="#" role="button">儲存</a>
<a class="btn btn-warning btn-logout" href="#" role="button">登出</a>
