<div class="row">
    <!-- Step.1 -->
    <div class="col-sm-6">
        <div class="card" style="height: 100%;">
            <div class="card-block">
                <h3 class="card-title">註冊帳號</h3>
                <p class="card-text">
                    <div class="alert alert-warning" role="alert">
                         初次使用請先點選「資格檢視」註冊帳號。<br>
                         若沒收到帳號開通信，請點選「寄送開通信」。
                    </div>
                </p>
                <p class="card-text">
                    港澳註冊帳號人數： 8561<br>
                    海外註冊帳號人數： 4379
                </p>
                <a href="./treaty.html" class="btn btn-primary">資格檢視</a>
                <a href="#" class="btn btn-primary">寄送開通信</a>
            </div>
        </div>
    </div>
    <!-- Step.2 -->
    <div class="col-sm-6">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">登入系統</h3>
                <p class="card-text">
                    <div class="alert alert-danger" role="alert">
                        <strong>注意！</strong> 填報資料請使用繁體中文。
                    </div>
                </p>
                <p class="card-text">
                    請以資格審核通過的 「帳號(E-mail)」 及 「密碼」 登入
                </p>
                <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label">帳號</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-2 col-form-label">密碼</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                        <a href="#" class="btn btn-success">登入</a>
                        <a href="#" class="btn btn-info">忘記密碼</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="form-group row">
    <div class="col-md-10 offset-md-1">
        <div class="list-group">
            <a href="#" class="list-group-item active">
                相關下載
            </a>
            <a href="#" class="list-group-item list-group-item-action">觀看中文PDF軟體 ＊解壓縮軟體 ＊報名資料修正表</a>
            <a href="#" class="list-group-item list-group-item-action">香港字庫(For win2000/XP OR Linux) ＊香港字庫(FOR Win7)</a>
        </div>
    </div>    
</div>