<% include components/_studentInfo %>

<h2 class="text-center title">聯合分發志願</h2>

<hr>

<div class="row">
	<div class="col-12">
		<div class="form-check">
			<label class="form-check-label">
				<input id="notJoinSelection" type="checkbox" class="form-check-input"> 本人 <span class="text-danger">不參加</span> 聯合分發
			</label>
		</div>
	</div>
</div>

<div class="row" id="form-placementSelect">
	<div class="col-12">
		<div class="alert alert-warning" role="alert">
			請選填 <strong class="text-danger">聯合分發</strong> 志願，最多 <strong class="text-danger">70</strong> 個。
		</div>

		<a class="btn btn-success quota-button" href="#" target="_blank"><i class="fa fa-link" aria-hidden="true"></i> 第二類組名額查詢</a>
		<a class="btn btn-success quota-button" href="#" target="_blank"><i class="fa fa-link" aria-hidden="true"></i> 第三類組名額查詢</a>

		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header bg-primary text-white">注意事項</div>
					<div class="card-block">
						<p>
							欲申請醫學、牙醫、及中醫學系者，其最近連續居留海外／港澳需 8 年以上。
						</p>
						<p>
							醫學、牙醫、及中醫學系以 <mark>黃底</mark> 標註。
						</p>
						<p>
							<strong>操作說明</strong>
							<ol>
								<li>
									先於左欄招生校系清單以「學校名稱」、「系所名稱」、「志願代碼」或「學群」查詢，點選 <span class="badge badge-info"><i class="fa fa-plus" aria-hidden="true"></i></span> 將志願加入右欄。
								</li>
								<li>
									於右欄可以點選 <span class="badge badge-danger"><i class="fa fa-times" aria-hidden="true"></i></span> 刪除志願；以 <span class="badge badge-white"><i class="fa fa-chevron-up" aria-hidden="true"></i></span> <span class="badge badge-white"><i class="fa fa-chevron-down" aria-hidden="true"></i></span> 或直接輸入志願序調整志願順序。
								</li>
								<li>
									最多可選填 <strong class="text-danger">70</strong> 個志願，除二、三類組得互跨類組選填志願外，其餘皆不得跨類組選填志願。
								</li>
							</ol>
						</p>
					</div>
				</div>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-xl-6">
				<div class="card card-bottom">
					<div class="card-header">招生校系清單</div>
					<div class="card-block">
						<div class="row">
							<div class="col-12">
								<div class="form-inline">
									<select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="select-optionFilter">
										<option value="0">志願代碼</option>
										<option value="1">學群</option>
										<option value="2">學校名稱</option>
										<option value="3">系所名稱</option>
									</select>
									<input type="text" id="input-optionFilter" class="form-control mb-2 mr-sm-2 mb-sm-0" id="" placeholder="關鍵字">
								</div>
							</div>
						</div>
						
						<hr>

						<div class="row">
							<div class="col-12">
								<table class="table table-hover">
									<tbody id="optionalWish-list">
									</tbody>
								</table>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="col-xl-6">
				<div class="card card-bottom">
					<div class="card-header">已填選志願</div>
					<div class="card-block">
						<table class="table table-hover">
							<tbody id="wish-list">
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-12 text-center">
		<a class="btn btn-primary" href="./result.html" role="button">儲存</a>
	</div>
</div>
