<div id="form-signUp">

	<dl class="row">
		<dt class="col-md-3">
			申請帳號
		</dt>
		<dd class="col-md-9">
			<div class="row">
				<div class="col-md-8">
					<div class="form-group">
						<label for="email">帳號(E-Mail)</label>
						<input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
						<small id="emailHelp" class="form-text text-muted">建議使用 Gmail 或 Yahoo 信箱註冊，註冊後請至 E-Mail 閱讀帳號開通信。</small>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="password">密碼</label>
						<input type="password" class="form-control" id="password" placeholder="Password">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="passwordConfirm">確認密碼</label>
						<input type="password" class="form-control" id="passwordConfirm" placeholder="Password">
					</div>
				</div>
			</div>
		</dd>
	</dl>

<!-- 	<hr>

	<dl class="row">
		<dt class="col-md-3">
			申請層級
		</dt>
		<dd class="col-md-9">
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-info" role="alert">
						<strong>申請層級說明：</strong><br>
						<span class="text-danger">學士班：</span>申請就讀學士班(亦可選填僑先部志願)。<br>
						<span class="text-danger">僑先部：</span>申請就讀僑先部春季班(限馬來西亞)。
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="">申請身分別</label>
						<select class="form-control" id="">
							<option>學士班</option>
							<option>僑先部</option>
						</select>
					</div>
				</div>
			</div>
		</dd>
	</dl> -->

	<hr>

	<dl class="row">
		<dt class="col-md-3">
			身分別
		</dt>
		<dd class="col-md-9">
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-info" role="alert">
						<strong>身分別說明：</strong><br>
						<span class="text-danger">港澳生：</span>最近連續居留境外(指臺灣地區以外之國家或地區)6年以上，並持有香港或澳門永久性居民身分證者。<br />
						<span class="text-danger">海外僑生：</span>最近連續居留海外(不含大陸、港澳及臺灣)6年以上，並取得僑居地永久或長期居留證件之華裔學生。<br />
						<span class="text-danger">港澳具外國國籍之華裔學生：</span>具外國國籍，兼具香港或澳門永久居留資格，未曾在臺設有戶籍，且最近連續居留香港、澳門或海外6年以上之華裔學生。
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<fieldset class="form-group">
						<label>申請身份別</label><br>
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input class="form-check-input radio-identity" type="radio" name="identity" value="1" checked> 港澳生
							</label>
						</div>
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input class="form-check-input radio-identity" type="radio" name="identity" value="2"> 海外僑生
							</label>
						</div>
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input class="form-check-input radio-identity" type="radio" name="identity" value="3"> 港澳具外國國籍之華裔學生
							</label>
						</div>
					</fieldset>
				</div>
			</div>
			<!-- <div class="row">
				<div class="col-md-12">
					<fieldset class="form-group">
						<label>是否擁有香港或澳門永久性居民身分證？</label><br>
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input class="form-check-input checkId" data-checkid="true" type="radio" name="checkId" id="checkIdYes" value="option1" checked> 是
							</label>
						</div>
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input class="form-check-input checkId" data-checkid="false" type="radio" name="checkId" id="checkIdNo" value="option2"> 否
							</label>
						</div>
					</fieldset>
				</div>
			</div>
			<div class="row hide" id="checkIdAlert">
				<div class="col-md-12">
					<div class="alert alert-danger" role="alert">
						<i class="fa fa-times" aria-hidden="true"></i> 不具有報名資格
					</div>
				</div>
			</div>
			<div class="row" id="holdpassportForm">
				<div class="col-md-12">
					<fieldset class="form-group">
						<label>是否持有英國國民(海外)護照或香港護照以外之旅行證照，或持有澳門護照以外之旅行證照？(含葡萄牙護照)</label><br>
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input class="form-check-input holdpassport" type="radio" name="holdpassport" id="" value="option1"
								data-holdpassport="true"> 是
							</label>
						</div>
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input class="form-check-input holdpassport" type="radio" name="holdpassport" id="" value="option2" data-holdpassport="false" checked> 否
							</label>
						</div>
					</fieldset>
				</div>
			</div>
			<div class="row hide" id="holdpassportPForm">
				<div class="col-md-12">
					<fieldset class="form-group">
						<label>您是否持有葡萄牙護照？</label><br>
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input class="form-check-input holdpassportP" type="radio" name="holdpassportP" id="" data-holdpassportp="true" value="option1"> 是
							</label>
						</div>
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input class="form-check-input holdpassportP" type="radio" name="holdpassportP" id="" value="option2" data-holdpassportp="false" checked> 否
							</label>
						</div>
					</fieldset>
				</div>
			</div>
			<div class="row hide" id="getPForm">
				<div class="col-md-4">
					<div class="form-group">
						<label for="">您<span class="text-danger">首次</span>取得葡萄牙護照的時間</label>
						<input type="date" class="form-control datepicker" id="">
					</div>
				</div>
			</div>
			<div class="row hide" id="holdOtherPassportForm">
				<div class="col-md-12">
					<div class="form-group">
						<label for="">您持有哪一個國家的護照？</label>
						<div class="row">
							<div class="col-md-6">
								<select class="form-control">
									<option value="00">State</option>
									<option value="亞洲">亞洲</option>
									<option value="歐洲">歐洲</option>
									<option value="美洲">美洲</option>
									<option value="非洲">非洲</option>
									<option value="大洋洲">大洋洲</option>
								</select>
							</div>
							<div class="col-md-6">
								<select class="form-control">
									<option value="">Country</option>
									<option value="">one</option>
									<option value="">two</option>
									<option value="">three</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div> -->
		</dd>
	</dl>

	<hr>
	<div class="question overseas hide">
		<dl class="row questionRow">
			<dt class="col-md-3">
				曾分發來臺
			</dt>
			<dd class="col-md-9">
				<div class="row">
					<div class="col-md-12">
						<fieldset class="form-group">
							<label>是否曾經分發來臺就學過？</label><br>
							<div class="form-check form-check-inline">
								<label class="form-check-label">
									<input class="form-check-input isDistribution" name="isDistribution" type="radio" value="1"> 是
								</label>
							</div>
							<div class="form-check form-check-inline">
								<label class="form-check-label">
									<input class="form-check-input isDistribution" name="isDistribution" type="radio" value="0" checked> 否
								</label>
							</div>
						</fieldset>
					</div>
				</div>
				<div class="row hide" id="distributionMore">
					<div class="col-12">
						<fieldset class="form-group">
							<label>請就下列選項擇一勾選</label><br>
							<div class="form-check">
								<label class="form-check-label">
									<input class="form-check-input distributionMoreQuestion" name="distributionMore" type="radio" value="1" checked> 1. 未曾辦理報到入學，亦未辦理保流入學資格。
								</label>
							</div>
							<div class="form-check">
								<label class="form-check-label">
									<input class="form-check-input distributionMoreQuestion" name="distributionMore" type="radio" value="2"> 2. 曾經分發註冊，惟在臺期間因故自願退學且在臺停留未滿一年，並退回僑居地(以一年為限)。
								</label>
							</div>
							<div class="form-check">
								<label class="form-check-label">
									<input class="form-check-input distributionMoreQuestion" name="distributionMore" type="radio" value="3"> 3. 辦理保留入學資格在案。
								</label>
							</div>
							<div class="form-check">
								<label class="form-check-label">
									<input class="form-check-input distributionMoreQuestion" name="distributionMore" type="radio" value="4"> 4. 註冊在學。
								</label>
							</div>
							<div class="form-check">
								<label class="form-check-label">
									<input class="form-check-input distributionMoreQuestion" name="distributionMore" type="radio" value="5"> 5. 辦理休學中。
								</label>
							</div>
							<div class="form-check">
								<label class="form-check-label">
									<input class="form-check-input distributionMoreQuestion" name="distributionMore" type="radio" value="6"> 6. 非因故自願退學(如勒令退學)。
								</label>
							</div>
							<div class="form-check">
								<label class="form-check-label">
									<input class="form-check-input distributionMoreQuestion" name="distributionMore" type="radio" value="7"> 7. 曾經來臺就讀海外青年技術訓練班。
								</label>
							</div>
						</fieldset>
						<div class="alert alert-danger hide distributionMoreAlert invalid" role="alert">
							<i class="fa fa-times" aria-hidden="true"></i> 不具有報名資格
						</div>
						<div class="alert alert-warning distributionMoreAlert valid" role="alert">
							<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 需在報名表件註記
						</div>
					</div>
				</div>
			</dd>
		</dl>
		<hr />
		<dl class="row questionRow">
			<dt class="col-md-3">
				海外居留年限
			</dt>
			<dd class="col-md-9">
				<div class="row">
					<div class="col-md-12">
						<div class="alert alert-info" role="alert">
							<i class="fa fa-exclamation-circle" aria-hidden="true"></i> 報名截止日可至 
							<a href="http://www.overseas.ncnu.edu.tw/countrylist.aspx" target="_blank">官網</a> 查詢
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="alert alert-warning" role="alert">
							<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 醫、牙及中醫學系需連續居留僑居地8年以上才可申請
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<fieldset class="form-group">
							<label>請問自報名截止日往前推算，已在僑居地連續居留多少年？</label><br>
							<div class="form-check">
								<label class="form-check-label">
									<input class="form-check-input radio-stayLimit" name="stayLimit" type="radio" value="1" checked> 報名時未滿六年
								</label>
							</div>
							<div class="form-check">
								<label class="form-check-label">
									<input class="form-check-input radio-stayLimit" name="stayLimit" type="radio" value="2"> 報名時未滿六年，但至入學當年度8月31日前滿六年
								</label>
							</div>
							<div class="form-check">
								<label class="form-check-label">
									<input class="form-check-input radio-stayLimit" name="stayLimit" type="radio" value="3"> 報名時已滿六年，但未滿八年
								</label>
							</div>
							<div class="form-check">
								<label class="form-check-label">
									<input class="form-check-input radio-stayLimit" name="stayLimit" type="radio" value="4"> 報名時未滿八年，但至入學當年度8月31日前滿八年
								</label>
							</div>
							<div class="form-check">
								<label class="form-check-label">
									<input class="form-check-input radio-stayLimit" name="stayLimit" type="radio" value="5"> 報名時已滿八年
								</label>
							</div>
						</fieldset>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="alert alert-danger stayLimitAlert invalid" role="alert">
							<i class="fa fa-times" aria-hidden="true"></i> 不具有報名資格
						</div>
					</div>
					<div class="col-md-12">
						<div class="alert alert-warning stayLimitAlert valid hide" role="alert">
							<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 需填寫切結書
						</div>
					</div>
				</div>
			</dd>
		</dl>
		<hr />
		<dl class="row questionRow">
			<dt class="col-md-3">
				在台停留日期
			</dt>
			<dd class="col-md-9">
				<div class="row">
					<div class="col-md-12">
						<fieldset class="form-group">
							<label>報名截止日往前推算僑居地居留期間內，是否曾在某一年來臺停留超過 120 天？</label><br>
							<div class="form-check form-check-inline">
								<label class="form-check-label">
									<input class="form-check-input radio-hasBeenTaiwan" type="radio" name="hasBeenTaiwan" value="1"> 是
								</label>
							</div>
							<div class="form-check form-check-inline">
								<label class="form-check-label">
									<input class="form-check-input radio-hasBeenTaiwan" type="radio" name="hasBeenTaiwan" value="0" checked> 否
								</label>
							</div>
						</fieldset>
					</div>
				</div>
				<div class="hide hasBeenTaiwanQuestion">
					<div class="row">
						<div class="col-md-12">
							<fieldset class="form-group">
								<label>請就下列選項，擇一勾選，並檢附證明文件：</label>
								<div class="form-check">
									<label class="form-check-label">
										<input class="form-check-input radio-whyHasBeenTaiwan" type="radio" name="whyHasBeenTaiwan" value="1" checked> 1. 就讀僑務主管機關舉辦之海外青年技術訓練班或中央主管教育行政機關認定之技術訓練專班。
									</label>
								</div>
								<div class="form-check">
									<label class="form-check-label">
										<input class="form-check-input radio-whyHasBeenTaiwan" type="radio" name="whyHasBeenTaiwan" value="2"> 2. 參加僑務主管機關主辦或其認定屬政府機關舉辦之活動，或就讀主管機關核准境外招生之華語教育機構開設之華語文研習課程，其活動或研習期間合計未滿二年。
									</label>
								</div>
								<div class="form-check">
									<label class="form-check-label">
										<input class="form-check-input radio-whyHasBeenTaiwan" type="radio" name="whyHasBeenTaiwan" value="3"> 3. 交換學生，其交換期間合計未滿二年。
									</label>
								</div>
								<div class="form-check">
									<label class="form-check-label">
										<input class="form-check-input radio-whyHasBeenTaiwan" type="radio" name="whyHasBeenTaiwan" value="4"> 4. 經中央目的事業主管機關許可來臺實習，實習期間合計未滿二年。
									</label>
								</div>
								<div class="form-check">
									<label class="form-check-label">
										<input class="form-check-input radio-whyHasBeenTaiwan" type="radio" name="whyHasBeenTaiwan" value="5"> 5. 回國接受兵役徵召及服役。
									</label>
								</div>
								<div class="form-check">
									<label class="form-check-label">
										<input class="form-check-input radio-whyHasBeenTaiwan" type="radio" name="whyHasBeenTaiwan" value="6"> 6. 因戰亂、天災或大規模傳染病，致無法返回僑居地。
									</label>
								</div>
								<div class="form-check">
									<label class="form-check-label">
										<input class="form-check-input radio-whyHasBeenTaiwan" type="radio" name="whyHasBeenTaiwan" value="7"> 7. 因其他不可歸責於僑生之事由，致無法返回僑居地，有證明文件。
									</label>
								</div>
								<div class="form-check">
									<label class="form-check-label">
										<input class="form-check-input radio-whyHasBeenTaiwan" type="radio" name="whyHasBeenTaiwan" value="8"> 8. 未符合前述1至7條件
									</label>
								</div>
							</fieldset>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="alert alert-danger whyHasBeenTaiwanAlert invalid hide" role="alert">
								<i class="fa fa-times" aria-hidden="true"></i> 不具有報名資格
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="alert alert-warning whyHasBeenTaiwanAlert valid" role="alert">
								<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 需在報名表件註記
							</div>
						</div>
					</div>
				</div>
			</dd>
		</dl>
		<hr />
	</div>

	<dl class="row">
		<dt class="col-md-3">
			聯合分發類組別
		</dt>
		<dd class="col-md-9">
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-info" role="alert">
						<strong>聯合分發類組別說明：</strong><br>
						聯合分發制招生校系區分為第一、二、三類組，除第二、三類組得互相跨類組選填志願外，餘皆不得跨類組選填志願，至多可選70個聯合分發志願。
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<a class="btn btn-info" href="http://www.overseas.ncnu.edu.tw/College1.aspx" target="_blank"><i class="fa fa-link" aria-hidden="true"></i> 學群介紹網頁</a>
					<a class="btn btn-info" href="http://overseas.ncnu.edu.tw/amount/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i> 各類組名額查詢系統</a>

				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="">請選擇您所屬類組（2、3類組可跨類組填志願）</label>
						<select class="form-control" id="">
							<option value="00">請選擇</option>
							<option value="1">第一類組：文、法、商、管理及藝術相關學系</option>
							<option value="2">第二類組：理、工學系</option>
							<option value="3">第三類組：醫事(醫、牙及中醫學系需連續居留僑居地8年以上才可申請)、農、生技、生活應用相關學系</option>
						</select>
						<small class="form-text text-danger">系統依報名類組別提供所屬類別志願供選填，請依自身興趣審慎思考。</small>
					</div>
				</div>
			</div>
		</dd>
	</dl>

	<hr>

	<div class="row">
		<div class="col-md-12 text-center">
			<a href="./index.html" class="btn btn-primary">送出</a>
		</div>
	</div>

</div>
