<dl class="row">
    <dt class="col-md-3">
        申請帳號
    </dt>
    <dd class="col-md-9">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="email">帳號(E-Mail)</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">建議使用 Gmail 或 Yahoo 信箱註冊，註冊後請至 E-Mail 閱讀帳號開通信。</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="password">密碼</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="passwordConfirm">確認密碼</label>
                    <input type="password" class="form-control" id="passwordConfirm" placeholder="Password">
                </div>
            </div>
        </div>
    </dd>
</dl>

<hr>

<dl class="row">
    <dt class="col-md-3">
        身分別
    </dt>
    <dd class="col-md-9">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">申請身分別</label>
                    <select class="form-control" id="">
                        <option>港澳生</option>
                        <option>海外僑生</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info" role="alert">
                    <strong>身分別說明：</strong><br>
                     港澳生：最近連續居留港澳或海外(不含大陸及臺灣)6年以上，並持有香港或澳門永久性居民身分證者。<br>
                     海外僑生：最近連續居留海外(不含大陸、港澳及臺灣)6年以上，並取得僑居地永久或長期居留證件之華裔學生。
                </div>
            </div>
        </div>
    </dd>
</dl>

<hr>

<dl class="row">
    <dt class="col-md-3">
         曾分發來臺
    </dt>
    <dd class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                <fieldset class="form-group">
                    <label>是否曾經分發來臺就學過</label><br>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="isDistribution" id="isDistributionYes" value="option1"> 是
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="isDistribution" id="isDistributionNo" value="option2"> 否
                        </label>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">年份</label>
                    <select class="form-control" id="">
                        <option value="">2016</option>
                        <option value="">2015</option>
                        <option value="">2014</option>
                        <option value="">2013</option>
                        <option value="">2012</option>
                        <option value="">2011</option>
                        <option value="">2010</option>
                        <option value="">2009</option>
                        <option value="">2008</option>
                        <option value="">2007</option>
                        <option value="">2006</option>
                        <option value="">2005</option>
                        <option value="">2004</option>
                        <option value="">2003</option>
                        <option value="">2002</option>
                        <option value="">2001</option>
                        <option value="">2000</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="">就學狀況</label>
                    <select class="form-control" id="">
                        <option value="">請選擇</option>
                        <option value="">1.未曾辦理報到入學，亦未辦理保留入學資格。</option>
                        <option value="">2.曾經分發註冊，惟在臺期間因故自願退學且在台停留未滿一年，並返回僑居地(以一次為限)。</option>
                        <option value="">3.辦理保留入學資格在案。</option>
                        <option value="">4.註冊在學。</option>
                        <option value="">5.辦理休學中。</option>
                        <option value="">6.非因故自願退學(如勒令退學)。</option>
                    </select>
                </div>
            </div>
        </div>
    </dd>
</dl>

<hr>

<dl class="row">
    <dt class="col-md-3">
        曾否來臺
    </dt>
    <dd class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                <fieldset class="form-group">
                    <label>報名截止日往前推算僑居地居留期間內，是否曾在某一年來臺停留超過 120 天</label><br>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="hasBeenTaiwan" id="hasBeenTaiwanYes" value="option1"> 是
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="hasBeenTaiwan" id="hasBeenTaiwanNo" value="option2"> 否
                        </label>
                    </div>
                </fieldset>
            </div>
        </div>
    </dd>
</dl>

<hr>

<dl class="row">
    <dt class="col-md-3">

    </dt>
    <dd class="col-md-9">
        <div class="row">

        </div>
    </dd>
</dl>

<hr>