<div class="SystemChoose pb-5">
	<dl class="row">
		<dt class="col-md-3">選擇報名學制</dt>
		<dd class="col-md-9">
			<div class="row">
				<div class="col-12">
					<div class="alert alert-info" role="alert">
						<strong>申請類別說明：</strong><br>
						<span class="text-danger">學士班(含僑先部)：</span>申請就讀大學部	(亦可選填僑先部志願)。<br />
						<span class="text-danger">港二技：</span>？？？<br />
						<span class="text-danger">碩士班：</span>申請就讀碩士班。<br />
						<span class="text-danger">博士班：</span>申請就讀博士班。
					</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="SystemChoose__inputSystem" class="col-xs-4 col-lg-2 col-form-label">申請類別</label>
				<div class="col-xs-8 col-lg-10">
					<select class="form-control" id="SystemChoose__inputSystem">
						<option value="1">學士班(含僑先部)</option>
						<option value="2">港二技</option>
						<option value="3">碩士班</option>
						<option value="4">博士班</option>
					</select>
				</div>
			</div>
			<div class="row mt-4 mb-4">
				<div class="col-md-4 offset-md-8">
					<button class="btn btn-primary btn-block SystemChoose__btnNext">下一步</button>
				</div>
			</div>
		</dd>
	</dl>
</div>
