<div class="row">
	<div class="col-12">
		<h3>
			海外聯合招生委員會
			<small class="text-muted">報名學生個人資料蒐集、處理及利用告知事項</small>
		</h3>
		<div class="bs-callout bs-callout-warning">
			<p>
				請您於填寫個人資料前，務必詳讀下列條款內容。<br>
				若您勾選「同意」，即表示您同意遵守下列條款，並同意本單位依下列條款蒐集、處理、利用您於本網站提供之個人資料。
			</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<nav id="treaty" class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
			<span class="navbar-brand">條款內容</span>
		</nav>
		<div data-spy="scroll" data-target="#treaty" data-offset="0" class="scrollspy-example">
			<p>
				<strong> 一、 機構名稱：海外聯合招生委員會</strong>
			</p>
			<p>
				<strong>二、 個人資料蒐集之目的：</strong>
				<ol>
					<li>海外聯合招生委員會(以下簡稱本會)基於辦理僑生及港澳生「個人申請」、「聯合分發」就讀臺灣大學校院、國立臺灣師範大學僑生先修部（以下簡稱「僑先部」）招生工作相關之試務、提供學業成績、考試成績、招生、分發、證明使用之資(通) 訊服務、資(通)訊與資料庫管理、學(員)生資料管理及完成其他海外聯合學招生必要工作或經報名學生同意之目的。</li>
					<li>本會為提供精確的聯合分發入學工作，須將蒐集之考試成績、成績等第進行統計與分析，分析結果之統計數據或說明文字呈現，除供分發所需及內部研究外，本會視需要公布統計數據及說明文字，但不涉及特定個人之資料。</li>
					<li>本會進行學術研究、教育研究及統計研究分析等目的進行蒐集。</li>
				</ol>
			</p>
			<p>
				<strong>三、 個人資料之蒐集方式</strong>
				<ol>
					<li>直接透過網路報名填寫個人資訊或個別上傳系所審查資料時取得。當您進行報名後，系統會保留您提供的個人資料，用來進行僑生資格審查、聯合分發考試及分發入學之相關作業時使用。</li>
					<li>如果您採用香港DSE考試成績作為成績採計方式，本會必須將您的部分個人資料經由國際傳輸到香港考試及評核局提取您的考試成績。</li>
					<li>如果您採用馬來西亞獨中統考成績作為成績採計方式，本會必須將您的部分個人資料經由國際傳輸到馬來西亞華校董事聯合會總會提取您的考試成績及成績等第。</li>
					<li>為確定您的僑生及港澳生身份資格符合「僑生來臺就學輔導辦法」、「香港澳門居民來臺就學輔導辦法」之規定，您的部分個人資料將由本會傳輸到內政部移民署，提取您的出入境紀錄。並由僑務委員會、本會進行資格審查。</li>
					<li>為完成報名繳件作業，您的申請表件將會送到中華民國各駐外館處、海華服務基金、澳門臺灣大專校友會、僑務委員會或僑務委員會各年度地區保薦單位等單位繳交完成報名。</li>
					<li>當您獲得分發入學時，您的個人資料將由本會傳輸至被分發的各公私立大學校院。</li>
				</ol>
			</p>
			<p>
				<strong>四、 蒐集個人資料之類別</strong>
				<ol>
					<li>直接蒐集之個人資料包括：中英文姓名、身份證號碼、出生日期、護照號碼、教育程度、聯絡電話、地址、電子郵件地址、父母親中英文姓名、考試編號等，均為必填欄位。考試成績、成績等第則根據您所選的成績採計方式決定。</li>
					<li>採用馬來西亞獨中統考成績作為成績採計方式者，間接由馬來西亞華校董事聯合會總會取得各科考試成績、成績等第。</li>
					<li>採用香港DSE考試成績作為成績採計方式者，間接由香港考試及評核局取得各科考試成績。</li>
				</ol>
			</p>
			<p>
				<strong>五、 個人資料處理及利用</strong>
				<ol>
					<li>個人資料利用之期間 自您報名日起至辦理考試個人資料保存期限外，以上開蒐集目的完成所需之期間為利用期間。</li>
					<li>個人資料利用之地區 臺灣地區(包括澎湖、金門及馬祖等地區)、中華民國各駐外館處、海華服務基金、澳門臺灣大專校友會、僑務委員會、僑務委員會各年度地區保薦單位或經考生授權處理成績提取之單位所在地(香港考試及評核局或馬來西亞華校董事聯合會總會)。</li>
					<li>個人資料利用之對象 除本會外，尚包括協助完成上開蒐集目的之相關合作單位、包含中華民國各駐外館處、海華服務基金、澳門臺灣大專校友會、僑務委員會、僑務委員會各年度地區保薦單位、內政部移民署、中華民國各公 私立大學校院及教育部或其授權之學術研究機構（單位）。</li>
					<li>個人資料利用之方式 本會之試務作業、考試成績、分發結果與相關資訊之發送通知，提供相關合作單位進行試務、錄取、分發、報到、查驗等作業，考生（或監護人）之聯繫，基於試務公信之必要揭露與學術研究及其他有助上開蒐集目的完成之必要方式。</li>
				</ol>
			</p>
			<p>
				<strong>六、 過您如未提供真實且正確完整之個人資料，將導致無法進行報名、緊急事件無法聯繫或錄取通知無法送達等等，影響您參加招生、後續試務與入學之權益。</strong>
			</p>
			<p>
				<strong>七、 您得於資料利用期間依個資法規定查詢或請求閱覽；請求製給複製本；請 求補充或更正；請求停止蒐集、處理或利用；請求刪除。您得以書面、傳真、電話等方式與本會聯絡，行使上述之權利。您 行使有關權利與本會之聯絡方式為：電話：+886-49-2910900；傳真：+886-49-2911182；電子郵件：overseas@ncnu.edu.tw。</strong>
			</p>
			<p>
				<strong>八、 請您確認提供之個人資料，均為真實且正確；如有不實或需變更者，請您立即檢附相關證明文件送交本會辦理更正。</strong>
			</p>
			<p>
				<strong>九、 本會得依法令規定或主管機關或司法機關依法所為之要求，將個人資料或相關資料提供予相關主管機關或司法機關。</strong>
			</p>
			<p>
				<strong>十、 如您要求本會停止蒐集、處理或利用或請求刪除個人資料之請求，或是要求刪除您的個人資料，本會必須同時撤銷您的來臺來臺申請書、來臺入學分發書通知書等。如果您已經分發來臺就學中，將一併撤銷學籍。如果您的請求，致妨礙本會執行職務或完成上開蒐集目的，或導致本會違背法令或主管機關之要求時，本會得繼續蒐集、處理、利用或保留個人資料。</strong>
			</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12 text-center">
		<a href="./signUp.html" class="btn btn-primary">同意</a>
	</div>
</div>
