<div class="row">
	<div class="col-12">
		<table class="table text-center">
			<thead>
				<tr>
					<td><b>報名層級</b></td>
					<td><b>報名類組</b></td>
					<td><b>身份別</b></td>
					<td><b>報名序號</b></td>
				</tr>
			</thead>
			<tbody>
				<tr class="table-warning">
					<td>學士班</td>
					<td>2</td>
					<td>港澳生</td>
					<td>200003</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<h2 class="text-center title">上傳必繳資料</h2>

<hr>

<div class="card">
	<div class="card-header bg-primary text-white">
		學歷證明
	</div>
	<div class="card-block">
		<div class="row">
			<div class="col-12">
				<div class="alert alert-warning" role="alert">
					可接受副檔名為 <strong class="text-danger">.jpg、.png</strong> 的圖檔，建議大小為 <strong class="text-danger">A4 Size 970px(寬) * 1100px(高)</strong> ，單一個檔案大小需 <strong class="text-danger">小於 4 Mbytes</strong> 。
				</div>
			</div>
		</div>
		<div class="row" style="margin-bottom: 15px;">
			<div class="col-lg-5 col-sm-10 col-9">
				<input type="file" class="filestyle">
			</div>
			<div class="col-sm-2 col-3">
				<a class="btn btn-primary" href="#" role="button">上傳</a>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-block">
						<h4 class="card-title">已上傳學歷證明 <small class="text-muted">(點圖可放大)</small></h4>
						<img class="img-thumbnail" src="http://via.placeholder.com/970x1100" data-toggle="modal" data-target=".img-modal">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<hr>

<div class="card">
	<div class="card-header bg-primary text-white">
		成績單
	</div>
	<div class="card-block">
		<div class="row">
			<div class="col-12">
				<div class="alert alert-warning" role="alert">
					可接受副檔名為 <strong class="text-danger">.jpg、.png</strong> 的圖檔，建議大小為 <strong class="text-danger">A4 Size 970px(寬) * 1100px(高)</strong> ，單一個檔案大小需 <strong class="text-danger">小於 4 Mbytes</strong> 。
				</div>
			</div>
		</div>
		<div class="row" style="margin-bottom: 15px;">
			<div class="col-lg-5 col-sm-10 col-9">
				<input type="file" class="filestyle">
			</div>
			<div class="col-sm-2 col-3">
				<a class="btn btn-primary" href="#" role="button">上傳</a>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-block">
						<h4 class="card-title">已上傳成績單 <small class="text-muted">(點圖可放大)</small></h4>
						<img class="img-thumbnail" src="http://via.placeholder.com/970x1100" data-toggle="modal" data-target=".img-modal">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade img-modal" tabindex="-1" role="dialog" aria-labelledby="imgModal" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body text-center">
				<img src="http://via.placeholder.com/970x1100" class="img-fluid rounded">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" onclick="return confirm('確定刪除嗎？')"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-sign-out" aria-hidden="true"></i> Exit</button>
			</div>
		</div>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-12 text-center">
		<a class="btn btn-primary btn-step" href="./grade.html" role="button">上一步</a>
		<a class="btn btn-primary btn-step" href="./admissionSelection.html" role="button">下一步</a>
	</div>
</div>

<a class="btn btn-warning btn-logout" href="#" role="button">登出</a>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/1.3.0/bootstrap-filestyle.min.js"> </script>
<!-- Doc: http://markusslima.github.io/bootstrap-filestyle/ -->
