<% include components/_studentInfo %>

<h2 class="text-center title">上傳系所備審資料</h2>

<div id="wrap-wishList">
	<div class="row">
		<div class="col-12">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>志願序</th>
						<th>志願代碼</th>
						<th>學系名稱</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="wishList">
				</tbody>
			</table>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-12 text-center">
			<button class="btn btn-danger" onclick="return confirm('確認後就無法再次更改資料，確認送出嗎？');" disabled>確認資料</button>
		</div>
	</div>
</div>

<div id="form-upload" style="display: none;">
	<hr>
	<dl class="row">
		<dt class="col-4 col-md-2">
			志願代碼
		</dt>
		<dd id="deptId" class="col-8 col-md-10"></dd>
		<dt class="col-4 col-md-2">
			學校名稱
		</dt>
		<dd id="schoolName" class="col-8 col-md-10"></dd>
		<dt class="col-4 col-md-2">
			系所名稱
		</dt>
		<dd id="deptName" class="col-8 col-md-10"></dd>
	</dl>

	<div id="reviewItemsArea">
	</div>

	<div class="row">
		<div class="col-12 text-center">
			<button class="btn btn-primary" id="btn-save">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> 儲存
			</button>
			<button class="btn btn-danger" id="btn-exit">
				<i class="fa fa-times-circle" aria-hidden="true"></i> 不儲存離開
			</button>
		</div>
	</div>
</div>

<div class="modal fade img-modal" tabindex="-1" role="dialog" aria-labelledby="imgModal" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body text-center">
				<img src="http://via.placeholder.com/970x1100" class="img-fluid rounded">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" onclick="return confirm('確定刪除嗎？')"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-sign-out" aria-hidden="true"></i> Exit</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/1.3.0/bootstrap-filestyle.min.js"> </script>
<!-- Doc: http://markusslima.github.io/bootstrap-filestyle/ -->
