<div id="loading-wrapper">
	<div id="loading-text">
		<img style="width: 100px; height: 60px; z-index: 1;" src="http://www.overseas.ncnu.edu.tw/film/images/logo2014.png" alt="">
	</div>
	<div id="loading-content"></div>
</div>
