/*輸入查詢資料處*/
#form-studentInfo {
    /*外邊框*/
    border: #FFAA33 medium dashed;
    padding: 2%;  /*上 左右 下*/
}

/*查詢結果*/
#form-result {
    padding-top: 2%;
    text-align: center;
    vertical-align: middle;
}

.title {
    text-align: center;
}

td {
    vertical-align: middle;
}
