.invalidInput {
	border-color: #d9534f !important;
}

.invalidFieldSet {
	border: 1px #d9534f solid;
	border-radius: 5px;
}

.btn-white {
	background: #FFF;
	color: #495057;
	border: 1px solid #ced4da;
}