#app {
	margin-top: 40px;
}

.navbar.header {
	padding: 0px;
}

.title {
	margin: 15px 0px;
	letter-spacing: 5px;
}

footer { /* 令 footer 圖層置底，才不會蓋到其他元素 */
	margin-top: 15px;
	position: relative;
	z-index: -1;
}

.hide {
	display: none;
}
