#app {
	margin-top: 40px;
}

.navbar.header {
	padding: 0px;
}

.title {
	margin: 15px 0px;
	letter-spacing: 5px;
}

footer { /* 令 footer 圖層置底，才不會蓋到其他元素 */
	margin-top: 15px;
	position: relative;
	z-index: -1;
}

.hide {
	display: none;
}

.nav-item {
	display: inline;
}

.nav-item.hide {
	display: none;
}

.nav-item.list-group-item-success i {
	display: initial;
}

#logo {
	color: inherit;
	position: absolute;
	text-transform: uppercase;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

#logo:hover {
	text-decoration: none;
	animation-name: bounce;
	-moz-animation-name: bounce;
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}
