<div class="title">
    <h2>錄取結果查詢</h2>
</div>
<div class="alert alert-warning mt-2 alert-helpCenter" role="alert">
    如<strong>非網路報名者</strong>，請點擊連結並填寫<a href="https://forms.gle/y2TNwJX38BpCwhDc8" target="_blank">Google表單</a>查詢報名序號。
</div>
<div id="form-studentInfo" class="container-fluid">
    <div class="row justify-content-center">
        <form class="">
            <!--分發類別-->
            <div class="form-group form-inline col">
                <label for="stage" class="control-label"><i class="fa fa-cubes fa-fw" aria-hidden="true"></i>分發類別：</label>
                <div>
                    <select id="stage" class="form-control">
                        <option value="">--請選擇--</option>
                        <option value="0">個人申請(學士班)</option>
                        <option value="N">個人申請(研究所)</option>
                        <option value="1">第一梯次</option>
                        <option value="2">第二梯次</option>
                        <option value="3">第三梯次</option>
                        <option value="4">第四梯次</option>
                        <option value="T">個人申請(二年制學士班)</option>
                        <option value="5">第五梯次（含香港自願免試申請僑先部）</option>
                    </select>
                </div>
            </div>
            <!--姓名-->
            <div class="form-group form-inline col">
                <label for="name" class="control-label text-muted"><i class="fa fa-user fa-fw" aria-hidden="true"></i>姓名(選填)：</label>
                <div >
                    <input type="text" class="form-control" id="name" placeholder="正體中文或英文姓名全名">
                </div>
            </div>
            <!--報名序號-->
            <div class="form-group form-inline col">
                <label for="userId" class="control-label"><i class="fa fa-address-card-o fa-fw" aria-hidden="true"></i>報名序號：</label>
                <div >
                    <input type="text" class="form-control" id="userId" placeholder="">
                </div>
                <span class="text-muted">&nbsp;※可以登入<a class="text-muted" href="https://student.overseas.ncnu.edu.tw/">資料填報系統</a>，於個人基本資料頁面查看報名序號。</span>
            </div>
            <!--生日-->
            <div class="form-group form-inline col">
                <label for="birthday" class="control-label"><i class="fa fa-birthday-cake fa-fw" aria-hidden="true"></i>生日：</label>
                <div >
                    <input class="form-control input-datepicker" data-provide="datepicker" data-date-format="yyyy-mm-dd" id="birthday">
                </div>
            </div>
            <!--性別-->
            <div class="form-group form-inline col">
                <label><i class="fa fa-genderless fa-fw" aria-hidden="true"></i>性別：</label>
                <div >
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="gender" value="F"> 女<i class="fa fa-venus fa-fw" aria-hidden="true"></i>
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="gender" value="M"> 男<i class="fa fa-mars fa-fw" aria-hidden="true"></i>
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-12 text-center" style="padding-top: 2%">
            <button class="btn btn-info" id="btn-search">
                <i class="fa fa-search" aria-hidden="true"></i> 查詢
            </button>
        </div>
    </div>
</div>

<!--查詢結果-->
<div id="form-result" class="hide accepted no-result result">
    <hr />
    <div class="title">
        <h3>查詢結果</h3>
    </div>
    <!--金榜題名-->
    <div id="accepted" class="hide accepted result">
        <table class="table">
            <thead>
                <tr>
                    <th>報名序號</th>
                    <th>僑生編號</th>
                    <th>中、英文姓名</th>
                    <th>錄取校系</th>
                    <th>僑居地國別</th>
                    <th>發文日期</th>
                    <th>發文字號</th>
                </tr>
            </thead>
            <tr id="admission-roster" class="table-warning">  <!--給個金榜題名的感覺-->
                <!--學生榜單資訊-->
            </tr>
        </table>
    </div>
    <!--查無結果-->
    <div id="no-result-case1" class="alert alert-secondary mt-2 hide no-result result" role="alert">
        未獲此梯次錄取
    </div>
</div>
