<h2>統計資料</h2>
<div id="data-type"></div>

<hr>

<h2 id="title"></h2>
<table class="table table-hover table-striped table-bordered">
	<thead id="thead-count"></thead>
	<tbody id="tbody-count"></tbody>
</table>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>