<h2 class="text-center title">繳交報名費</h2>

<hr>

<div class="container" id="form-application-fee">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-primary text-white">注意事項</div>
                <div class="card-body">
                    <p>
                        <strong>重要提醒</strong>
                    </p>
                    <p>
                        <strong>操作說明</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row justify-content-center">
        <div class="col-4">
            <button class="col btn btn-success hide" id="btn-pay">繳交報名費</button>
            <button class="col btn btn-success hide" id="btn-payed" disabled>已成功繳交報名費</button>
        </div>
    </div>
</div>