<%- include ('components/_studentInfo') %>

<h2 class="text-center title">華語文能力證明文件類型</h2>

<hr>

<div>
	<div class="row">
		<div class="col-md-8 offset-md-2 col-lg-8 offset-lg-2">
			<div class="card">
				<div class="card-header bg-primary text-white">請選擇您的華語文能力證明文件類型</div>
				<div class="card-body">
					<div class="form-group" id="certificate-of-language-proficiency">
						<label class="alert alert-warning" role="alert">說明：您申請就讀「重點產業系所」，需檢附華語文能力測驗（TOCFL）基礎級（A2）以上，或達前開程度之中文能力證明文件。請選擇您檢附的「華語文能力證明文件」類型：</label><br />
                        <label class="form-check-label">
                            <input type="radio" class="radio-option" name="option" value="1">TOCFL華語文能力測驗成績單
                        </label><br />
                        <label class="form-check-label">
                            <input type="radio" class="radio-option" name="option" value="2">高中/大學/研究所之歷年成績單（包含中文科目成績）
                        </label><br />
                        <label class="form-check-label">
                            <input type="radio" class="radio-option" name="option" value="3">各類會考之中文成績或證明<br />
                        </label><br />
                        <label class="form-check-label">
                            <input type="radio" class="radio-option" name="option" value="4">就讀學校（高中/大學/研究所）以中文授課之證明
                        </label><br />
                        <label class="form-check-label">
                            <input type="radio" class="radio-option" name="option" value="5">其他可茲證明文件
                        </label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-2 descriptionOfCertificate hide">
		<div class="col-md-8 offset-md-2 col-lg-8 offset-lg-2">
			<div class="card">
				<div class="card-header bg-primary text-white" id="description-title"></div>
				<div class="card-body">
					<fieldset class="form-group">
						<div class="form-group inline-inputs">
							<input type="text" class="form-control hide" id="description-1-result" placeholder="成績" maxlength="100">
                            <input type="text" class="form-control hide" id="description-1-level" placeholder="等級" maxlength="100">
							<input type="text" class="form-control hide" id="description-3" maxlength="100">
							<input type="text" class="form-control hide" id="description-5" maxlength="100">
						</div>
                        <div class="alert alert-info hide" role="alert" id="note">例：馬來西亞華文獨立中學統一考試、S.T.P.M.、A Level、S.P.M.、O Level、SAT Subject Test、IBDP、澳門四校聯考、香港中學文憑考試、香港高級程度會考、香港中學會考等</div>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
	<hr>

	<div class="row">
		<div class="col-12 text-center">
			<a class="btn btn-primary btn-save" href="javascript:;" role="button">儲存</a>
		</div>
	</div>
</div>
