<h2 class="text-center title">下載報名表件</h2>
<hr>

<div class="alert alert-info alert-print" role="alert">

</div>

<div class="alert alert-info alert-correct" role="alert">

</div>

<div class="alert alert-info alert-submit" role="alert">

</div>

<div class="alert alert-info mt-2 alert-downloadMoFile hide" role="alert">
	<a href="https://drive.google.com/file/d/15c2P9CF0uhpJdQXmbvqm0mhUaYfuNe54/view?usp=sharing" target="_blank">2021 團體報名學校名單</a>。
	<a href="https://drive.google.com/file/d/1mczjpttCbo2EU7sQ9FdvFAe0kfdNeMcg/view?usp=sharing" target="_blank">報名表整理方法(澳門試委會整理)</a>。
</div>

<div class="alert alert-warning hide" id="alert-cost" role="alert">
	<span class="text-danger">報名費用</span>澳門幣 900 元 （一經報名不予退費）
</div>

<div class="alert alert-warning hide" id="alert-hk-order" role="alert">
	● <a href="https://www.surveycake.com/s/gmRG2" target="blank">  核驗「身分及學歷證件正本」預約系統 </a> &nbsp;&nbsp;
	<!--● <a href="https://api.overseas.ncnu.edu.tw/forms/聯合分發繳交表件明細.pdf" target="_blank"> 聯合分發繳交表件明細</a>-->
</div>

<div class="alert alert-warning hide" id="alert-hk-order" role="alert">
	● <a href="https://api.overseas.ncnu.edu.tw/forms/免試申請僑先部報名文件繳交明細.pdf" target="blank">  免試申請僑先部報名文件繳交明細 </a>
</div>

<div class="alert alert-info" role="alert">
	本會為實質了解您赴臺升學動機及提升本報名系統，懇請利用幾分鐘時間填寫本會調查問卷(可點文字選連結)，預祝您金榜提名!! &nbsp; &nbsp; <a href="https://www.surveygizmo.com/s3/5840436/2021" target="_blank">開始填寫問卷</a>
</div>
<!-- 聰明的你的選擇 -->
<div class="row">
	<div class="col-12">
		<a href="#" class="btn btn-success btn-block btn-lg" target="_blank" role="button" id="btn-smart">
			<i class="fa fa-download" aria-hidden="true"></i> 下載所有表件
		</a>
		<div class="text-center">
			<a id="memo" class="text-danger"></a>
		</div>
	</div>
</div>

<!-- 怎麼會有人還想要把資料拆開來給人下載，這一定不是我偉大海聯開的需求 -->
<hr>
<!--
<h2 class="text-center title">個別下載</h2>
<hr>

<div class="form-group row">
	<div class="col-md-6">
		<a href="#" class="btn btn-success btn-block btn-lg" role="button">
			<i class="fa fa-download" aria-hidden="true"></i> 申請資料檢核表
		</a>
		
	</div>
	<div class="col-md-6">
		<a href="#" class="btn btn-success btn-block btn-lg" role="button">
			<i class="fa fa-download" aria-hidden="true"></i> 申請表
		</a>
		
	</div>
</div>

<div class="form-group row">
	<div class="col-md-6">
		<a href="#" class="btn btn-success btn-block btn-lg" role="button">
			<i class="fa fa-download" aria-hidden="true"></i> 學歷證明
		</a>
	</div>
	<div class="col-md-6">
		<a href="#" class="btn btn-success btn-block btn-lg" role="button">
			<i class="fa fa-download" aria-hidden="true"></i> 成績單
		</a>
	</div>
</div>
-->
