<h2 class="text-center title">下載報名表件</h2>
<hr>	

<div class="form-group row">
	<div class="col-md-6">
		<a href="#" class="btn btn-success btn-block btn-lg" role="button">
			<i class="fa fa-download" aria-hidden="true"></i> 申請資料檢核表（馬來西亞）
		</a>
		
	</div>
	<div class="col-md-6">
		<a href="#" class="btn btn-success btn-block btn-lg" role="button">
			<i class="fa fa-download" aria-hidden="true"></i> 學生來臺就讀學士班申請表
		</a>
		
	</div>
</div>

<div class="form-group row">
	<div class="col-md-6">
		<a href="#" class="btn btn-success btn-block btn-lg" role="button">
			<i class="fa fa-download" aria-hidden="true"></i> 學歷證明
		</a>
	</div>
	<div class="col-md-6">
		<a href="#" class="btn btn-success btn-block btn-lg" role="button">
			<i class="fa fa-download" aria-hidden="true"></i> 成績單
		</a>
	</div>
</div>

<div class="form-group row">
	<div class="col-md-6">
		<a href="#" class="btn btn-success btn-block btn-lg" role="button">
			<i class="fa fa-download" aria-hidden="true"></i> 紙本資料信封
		</a>
	</div>
</div>

