<h2 class="text-center title">下載報名表件</h2>
<hr>

<div class="alert alert-info" role="alert">
	完成線上填寫個人資料後，請下載、列印並確認表件資料無誤。
</div>

<div class="alert alert-info" role="alert">
	若資料有誤(含無法顯示特殊字)，請填寫「<a href="https://api.overseas.ncnu.edu.tw/admission-data-correction-form" target="_blank">資料修正表</a>」並連同申請資料繳交至受理報名單位，始完成報名程序。
</div>

<div class="alert alert-info" role="alert">
	請將系統產生文件全數印出，並備齊簡章規定應繳資料於報名截止日前，至受理報名單位繳件。<a href="https://cmn-hant.overseas.ncnu.edu.tw/events/admission_2021" target="_blank">報名日期資訊</a>
</div>

<div class="alert alert-info mt-2 alert-downloadMoFile hide" role="alert">
	<a href="https://drive.google.com/file/d/15c2P9CF0uhpJdQXmbvqm0mhUaYfuNe54/view?usp=sharing" target="_blank">2021 團體報名學校名單</a>。
</div>

<div class="alert alert-warning hide" id="alert-cost" role="alert">
	<span class="text-danger">報名費用</span>澳門幣 900 元 （一經報名不予退費）
</div>

<div class="alert alert-warning hide" id="alert-hk-order" role="alert">
	● <a href="https://www.surveycake.com/s/GKYMP" target="blank">  海華服務基金 - 赴臺升學繳件預約系統 </a> &nbsp;&nbsp;
	<!--● <a href="https://api.overseas.ncnu.edu.tw/forms/聯合分發繳交表件明細.pdf" target="_blank"> 聯合分發繳交表件明細</a>-->
</div>

<div class="alert alert-warning hide" id="alert-hk-order" role="alert">
	● <a href="https://api.overseas.ncnu.edu.tw/forms/免試申請僑先部報名文件繳交明細.pdf" target="blank">  免試申請僑先部報名文件繳交明細 </a>
</div>

<div class="alert alert-info" role="alert">
	本會為實質了解您赴臺升學動機及提升本報名系統，懇請利用幾分鐘時間填寫本會調查問卷(可點文字選連結)，預祝您金榜提名!! &nbsp; &nbsp; <a href="https://www.surveygizmo.com/s3/5840436/2021" target="_blank">開始填寫問卷</a>
</div>
<!-- 聰明的你的選擇 -->
<div class="row">
	<div class="col-12">
		<a href="#" class="btn btn-success btn-block btn-lg" target="_blank" role="button" id="btn-smart">
			<i class="fa fa-download" aria-hidden="true"></i> 下載所有表件
		</a>
		<div class="text-center">
			<a id="memo" class="text-danger"></a>
		</div>
	</div>
</div>

<!-- 怎麼會有人還想要把資料拆開來給人下載，這一定不是我偉大海聯開的需求 -->
<hr>
<!--
<h2 class="text-center title">個別下載</h2>
<hr>

<div class="form-group row">
	<div class="col-md-6">
		<a href="#" class="btn btn-success btn-block btn-lg" role="button">
			<i class="fa fa-download" aria-hidden="true"></i> 申請資料檢核表
		</a>
		
	</div>
	<div class="col-md-6">
		<a href="#" class="btn btn-success btn-block btn-lg" role="button">
			<i class="fa fa-download" aria-hidden="true"></i> 申請表
		</a>
		
	</div>
</div>

<div class="form-group row">
	<div class="col-md-6">
		<a href="#" class="btn btn-success btn-block btn-lg" role="button">
			<i class="fa fa-download" aria-hidden="true"></i> 學歷證明
		</a>
	</div>
	<div class="col-md-6">
		<a href="#" class="btn btn-success btn-block btn-lg" role="button">
			<i class="fa fa-download" aria-hidden="true"></i> 成績單
		</a>
	</div>
</div>
-->
