<% include components/_studentInfo %>

<h2 class="text-center title">入學資料</h2>

<hr>

<dl class="row">
	<dt class="col-md-3">
		小學
	</dt>
	<dd class="col-md-9">
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label class="text-danger" for="primarySchoolName">學校名稱</label>
					<input type="text" class="form-control" id="primarySchoolName" placeholder="">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="text-danger" for="primarySchoolAdmissionsAt">入學時間</label>
					<input class="form-control input-portugalPassportTime" data-provide="datepicker" data-date-format="yyyy/mm" id="primarySchoolAdmissionsAt">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="text-danger" for="primarySchoolGraduatedAt">畢業時間</label>
					<input class="form-control input-portugalPassportTime" data-provide="datepicker" data-date-format="yyyy/mm" id="primarySchoolGraduatedAt">
				</div>
			</div>
		</div>
	</dd>
</dl>

<hr>

<dl class="row">
	<dt class="col-md-3">
		中學 1 - 3 年級
	</dt>
	<dd class="col-md-9">
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label class="text-danger" for="highSchool1to3Name">學校名稱</label>
					<input type="text" class="form-control" id="highSchool1to3Name" placeholder="">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="text-danger" for="highSchool1to3AdmissionsAt">入學時間</label>
					<input class="form-control input-portugalPassportTime" data-provide="datepicker" data-date-format="yyyy/mm" id="highSchool1to3AdmissionsAt">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="text-danger" for="highSchool1to3GraduatedAt">畢業時間</label>
					<input class="form-control input-portugalPassportTime" data-provide="datepicker" data-date-format="yyyy/mm" id="highSchool1to3GraduatedAt">
				</div>
			</div>
		</div>
	</dd>
</dl>

<hr>

<dl class="row">
	<dt class="col-md-3">
		中學 4 - 5 年級
	</dt>
	<dd class="col-md-9">
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label class="text-danger" for="highSchool4to5Name">學校名稱</label>
					<input type="text" class="form-control" id="highSchool4to5Name" placeholder="">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="text-danger" for="highSchool4to5AdmissionsAt">入學時間</label>
					<input class="form-control input-portugalPassportTime" data-provide="datepicker" data-date-format="yyyy/mm" id="highSchool4to5AdmissionsAt">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="text-danger" for="highSchool4to5GraduatedAt">畢業時間</label>
					<input class="form-control input-portugalPassportTime" data-provide="datepicker" data-date-format="yyyy/mm" id="highSchool4to5GraduatedAt">
				</div>
			</div>
		</div>
	</dd>
</dl>

<hr>

<dl class="row">
	<dt class="col-md-3">
		中學 6 年級
	</dt>
	<dd class="col-md-9">
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label class="text-danger" for="highSchool6Name">學校名稱</label>
					<input type="text" class="form-control" id="highSchool6Name" placeholder="">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="text-danger" for="highSchool6AdmissionsAt">入學時間</label>
					<input class="form-control input-portugalPassportTime" data-provide="datepicker" data-date-format="yyyy/mm" id="highSchool6AdmissionsAt">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="text-danger" for="highSchool6GraduatedAt">畢業時間</label>
					<input class="form-control input-portugalPassportTime" data-provide="datepicker" data-date-format="yyyy/mm" id="highSchool6GraduatedAt">
				</div>
			</div>
		</div>
	</dd>
</dl>

<hr>


<dl class="row">
	<dt class="col-md-3">
		曾轉學註明
	</dt>
	<dd class="col-md-9">
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label class="" for="transfer">轉學描述</label>
					<input type="text" class="form-control" id="transfer" placeholder="">
					<small class="form-text">如： 中四暨大附中、中五埔里高工</small>
				</div>
			</div>
		</div>
	</dd>
</dl>

<hr>

<div class="row">
	<div class="col-12 text-center">
		<button class="btn btn-primary" id="btn-save">儲存</button>
	</div>
</div>
