<%- include ('components/_studentInfo') %>

<h2 class="text-center title">聯合分發成績採計方式</h2>

<hr>

<div class="alert alert-danger hide" role="alert" id="not-join-placement-alert">
	由於您已選擇不參加聯合分發，因此將無法選填聯合分發志願。如欲修改請至<a href="/admissionSelection.html#notJoinPlacement">此頁面下方</a>勾選同意。
</div>

<div id="choose-placement-apply-way">
	<div class="row">
		<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
			<div class="card">
				<div class="card-header bg-primary text-white">請選擇您的成績採計方式。</div>
				<div class="card-body">
					<div class="form-group" id="apply-ways">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-2 forCode23 hide">
		<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
			<div class="card">
				<div class="card-header bg-primary text-white">請填寫考試年份</div>
				<div class="card-body">
					<fieldset class="form-group">
						<div class="form-group">
							<label>香港中學文憑考試 (DSE)</label>
							<input type="text" class="form-control year_of_hk_dse">
						</div>
						<div class="form-group year_of_hk_ale">
							<label>香港高級程度會考 (ALE)</label>
							<input type="text" class="form-control year_of_hk_ale">
						</div>
						<div class="form-group year_of_hk_cee">
							<label>香港中學會考 (CEE)</label>
							<input type="text" class="form-control year_of_hk_cee">
						</div>
					</fieldset>
				</div>
				<div class="card-footer">
					<small class="DSE-example"></small>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-2 forCode01 hide">
		<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
			<div class="card">
				<div class="card-header bg-primary text-white">請提供所選「成績採計方式」的考生編號（若有）</div>
				<div class="card-body" style="padding-bottom: 0%;">
					<fieldset class="form-group">
						<div class="form-group">
							<input type="text" class="form-control my_admission_ticket_no" placeholder="ex: s3706103, v1906010" maxlength="100">
							<br/>
							<div class="alert alert-info" role="alert">若參加多次考試請以「，」隔開考生編號</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-2 forCode19 hide">
		<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
			<div class="card">
				<div class="card-header bg-primary text-white">請選擇考區（如特定考區人數過少，將協調合併考區，請依2025年1月上旬保薦華校通知為主）</div>
				<div class="card-body" style="padding-bottom: 0%;">
					<div class="form-group form-check">
				    	<label class="form-check-label">
				    		<input class="form-check-input myanmar_test_area" type="radio" name="myanmar_test_area" value="仰光"> 仰光
				    	</label>
				    </div>
				    <div class="form-group form-check">
				    	<label class="form-check-label">
				    		<input class="form-check-input myanmar_test_area" type="radio" name="myanmar_test_area" value="曼德勒"> 曼德勒
				    	</label>
				    </div>
					<div class="form-group form-check">
				    	<label class="form-check-label">
				    		<input class="form-check-input myanmar_test_area" type="radio" name="myanmar_test_area" value="東枝"> 東枝
				    	</label>
				    </div>
				    <div class="form-group form-check">
				    	<label class="form-check-label">
				    		<input class="form-check-input myanmar_test_area" type="radio" name="myanmar_test_area" value="密支那"> 密支那
				    	</label>
				    </div>
					<div class="alert alert-info" role="alert" id="note">※因應緬北政局情勢，本年取消臘戌考區，以維考生安全</div>
				</div>
			</div>
		</div>
	</div>

	<div id="go-to-FF-form" class="hide">
		<hr>
		<div class="form-group">
			<div class="row offset-md-2 form-check">
				<input type="checkbox" id="go-to-FF" class="form-check-input" checked>如有下列情形之一者，本人同意分發至臺師大僑先部（勾選代表同意）
			</div>
			<br />
			<div class="row offset-md-2">
				<ol>
					<li>分發分數未達大學最低錄取標準。</li>
					<li>分發分數達大學最低錄取標準，但所填志願已無名額。</li>
					<li id="hk-DSE-ALE-CEE" class="hide">香港學生選擇以「香港中學文憑考試」或「香港高級程度會考」或「香港中學會考」成績申請，未於簡章規定期限完成線上提交「聯合分發校系志願表」者。</li>
				</ol>
			</div>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-12 text-center">
			<a class="btn btn-primary btn-save" href="javascript:;" role="button">儲存</a>
		</div>
	</div>
</div>
