<div class="row">
	<!-- Step.1 -->
	<div class="col-sm-6">
		<div class="card" style="height: 100%;">
			<div class="card-body">
				<h3 class="card-title">註冊帳號</h3>
				<p class="card-text">
					<div class="alert alert-warning" role="alert">
						初次使用請先點選「註冊帳號」。<br>
						若沒收到帳號開通信，請點選「寄送開通信」。<br><br>
						<font color="blue">臺師大僑先部學生</font>請以學校 E-MAIL 帳號（例如: lks90XXXXXXX@ntnu.edu.tw）直接登入，第一次登入請使用忘記密碼功能更新密碼
					</div>
				</p>
				<p class="card-text">
					港澳註冊帳號人數： <span id="HK_MacaoNum"></span><br>
					海外註冊帳號人數： <span id="otherNum"></span>
				</p>
				<a href="./treaty.html" class="btn btn-primary">註冊帳號</a>
			</div>
		</div>
	</div>
	<!-- Step.2 -->
	<div class="col-sm-6">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">登入系統</h3>
				<p class="card-text">
					<div class="alert alert-danger" role="alert">
						<h5>注意！</h5>
						<blockquote class="blockquote">
							<p class="mb-0 ml-2">
								填報資料請使用繁體中文。<br>
								建議使用 Chrome 瀏覽器操作本會系統，以免部分功能無法正常執行。
							</p>
						</blockquote>
					</div>
				</p>
				<p class="card-text">
					請以資格審核通過的 「帳號 ( E-mail )」 及 「密碼」 登入
				</p>
				<div class="form-group row">
					<label for="email" class="col-sm-2 col-form-label">帳號</label>
					<div class="col-sm-10">
						<input type="email" class="form-control" id="email" placeholder="Email">
					</div>
				</div>
				<div class="form-group row">
					<label for="password" class="col-sm-2 col-form-label">密碼</label>
					<div class="col-sm-10">
						<input type="password" class="form-control" id="password" placeholder="Password">
					</div>
				</div>
				<div class="form-group row">
					<div class="offset-sm-2 col-sm-10">
						<a href="javascript:;" class="btn btn-success" id="btn-login">登入</a>
						<a href="./resend.html" class="btn btn-info" id="btn-forgetPasswd">忘記密碼</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<hr>
<div class="form-group row">
	<div class="col-md-10 offset-md-1">
		<div class="list-group">
			<a href="#" class="list-group-item active">
				相關下載
			</a>
			<a href="https://api.overseas.ncnu.edu.tw/forms/2018志願選填系統操作說明書(香港DSE、CEE、ALE學生適用).pdf" target="_blank" class="list-group-item list-group-item-action">2018志願選填系統操作說明書(香港DSE、CEE、ALE學生適用)</a>
			<a href="https://api.overseas.ncnu.edu.tw/forms/香港各會考文憑成績核計方式及分數換算對照表.pdf" target="_blank" class="list-group-item list-group-item-action">香港各會考文憑成績核計方式及分數換算對照表</a>
			<a href="https://api.overseas.ncnu.edu.tw/forms/放棄聯合分發聲明書.pdf" target="_blank" class="list-group-item list-group-item-action">放棄聯合分發聲明書（香港專用）</a>
			<a href="http://get.adobe.com/tw/reader/" target="_blank" class="list-group-item list-group-item-action">觀看中文PDF軟體</a>
			<a href="http://www.7-zip.org/" target="_blank" class="list-group-item list-group-item-action">解壓縮軟體</a>
			<a href="https://api.overseas.ncnu.edu.tw/admission-data-correction-form" target="_blank" class="list-group-item list-group-item-action">報名資料修正表</a>
			<a href="http://www.gov.hk/tc/about/helpdesk/softwarerequirement/hkscs.htm" target="_blank" class="list-group-item list-group-item-action">香港字庫(For win2000/XP OR Linux)</a>
			<a href="http://www.ccli.gov.hk/tc_chi/faq/faq_win7-hkscs.html" target="_blank" class="list-group-item list-group-item-action">香港字庫(FOR Win7)</a>
		</div>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/gh/emn178/js-sha256/src/sha256.js"></script>

