<% include components/_studentInfo %>

<h2 class="text-center title">個人基本資料</h2>

<hr>

<div class="row">
	<div class="col-12">
		<div class="alert alert-info" role="alert">
			<b>
				<span class="text-danger">紅色字體為必填欄位。</span>
			</b>
		</div>
	</div>
</div>

<div id="form-personalInfo">

	<dl class="row">
		<dt class="col-md-3">
			申請人資料表
		</dt>
		<dd class="col-md-9">
			<div class="row">
				<div class="col-md-8">
					<div class="form-group">
						<label for="email">E-Mail</label>
						<input type="email" class="form-control" id="email" placeholder="Enter email" value="hello@ncnu.edu.tw" disabled>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<div class="form-group">
						<label for="reserveEmail">備用 E-Mail</label>
						<input type="email" class="form-control" id="reserveEmail">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="text-danger" for="name">姓名（中）</label>
						<input type="text" class="form-control" id="name" placeholder="姓名">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="text-danger" for="engName">姓名（英）</label>
						<input type="text" class="form-control" id="engName" placeholder="Name">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<fieldset class="form-group">
						<label class="text-danger">性別</label><br>
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input class="form-check-input gender" type="radio" name="gender" value="0" checked> 女
							</label>
						</div>
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input class="form-check-input gender" type="radio" name="gender" value="1"> 男
							</label>
						</div>
					</fieldset>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="text-danger" for="birthday">生日</label>
						<input class="form-control" type="date" id="birthday" value="">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="text-danger">出生地、國別</label>
						<div class="row">
							<div class="col-md-4">
								<select class="form-control" id="birthState">
									<option value="00">State</option>
									<option value="亞洲">亞洲</option>
									<option value="歐洲">歐洲</option>
									<option value="美洲">美洲</option>
									<option value="非洲">非洲</option>
									<option value="大洋洲">大洋洲</option>
								</select>
							</div>
							<div class="col-md-4">
								<select class="form-control" id="birthCountry">
									<option value="">Country</option>
									<option value="">one</option>
									<option value="">two</option>
									<option value="">three</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<fieldset class="form-group">
						<label class="text-danger">是否為「身心障礙」或「特殊照護」或「特殊教育」者</label><br>
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input class="form-check-input specail" type="radio" name="special" value="0" checked> 否
							</label>
						</div>
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input class="form-check-input specail" type="radio" name="special" value="1"> 是
							</label>
						</div>
					</fieldset>
				</div>
			</div>
		</dd>
	</dl>

	<hr>

	<dl class="row">
		<dt class="col-md-3">
			僑居地資料
		</dt>
		<dd class="col-md-9">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="text-danger">國別</label>
						<div class="row">
							<div class="col-md-4">
								<select class="form-control" id="residenceState">
									<option value="00">State</option>
									<option value="亞洲">亞洲</option>
									<option value="歐洲">歐洲</option>
									<option value="美洲">美洲</option>
									<option value="非洲">非洲</option>
									<option value="大洋洲">大洋洲</option>
								</select>
							</div>
							<div class="col-md-4">
								<select class="form-control" id="residenceCountry">
									<option value="">Country</option>
									<option value="">one</option>
									<option value="">two</option>
									<option value="">three</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="text-danger" for="idNumber">身分證號碼（ID no.）</label>
						<input type="text" class="form-control" id="idNumber" placeholder="ID no.">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="passportId">護照號碼</label>
						<input type="text" class="form-control" id="passportId" placeholder="Passport no.">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<div class="form-group">
						<label class="text-danger" for="telCode">電話</label>
						<div class="row">
							<div class="col-3">
								<input type="text" class="form-control" id="telCode" maxlength="5" placeholder="國碼">
							</div>
							<div class="col-9">
								<input type="text" class="form-control" id="telNumber" placeholder="電話號碼">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<div class="form-group">
						<label class="text-danger" for="phoneCode">手機</label>
						<div class="row">
							<div class="col-3">
								<input type="text" class="form-control" id="phoneCode" maxlength="5" placeholder="國碼">
							</div>
							<div class="col-9">
								<input type="text" class="form-control" id="phoneNumber" placeholder="手機電話號碼">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<div class="form-group">
						<label class="text-danger" for="address">地址</label>
						<input type="text" class="form-control" id="address" placeholder="地址">
						<small class="form-text text-danger">請以「中文」或「英文」填寫</small>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<div class="form-group">
						<label for="">地址</label>
						<input type="text" class="form-control" id="otherLangAddress" placeholder="地址">
						<small class="form-text text-muted">（選填）請以 <span class="text-danger">中英文以外語言</span> 填寫</small>
					</div>
				</div>
			</div>
		</dd>
	</dl>

	<hr>

	<dl class="row">
		<dt class="col-md-3">
			在台資料<span class="text-danger">（無者免填）</span>
		</dt>
		<dd class="col-md-9">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="credentialsType">證件類型</label>
						<div class="row">
							<div class="col-md-4">
								<select class="form-control" id="credentialsType">
									<option>請選擇</option>
									<option>身分證</option>
									<option>居留證</option>
								</select>
							</div>
							<div class="col-md-4">
								<input type="text" class="form-control" id="credentialsId" placeholder="">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<div class="form-group">
						<label for="">臺灣護照號碼</label>
						<input type="text" class="form-control" id="taiwanPassportId" placeholder="Passport no.">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<div class="form-group">
						<label for="">臺灣電話</label>
						<input type="text" class="form-control" id="taiwanTel" placeholder="電話">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<div class="form-group">
						<label for="">臺灣地址</label>
						<input type="text" class="form-control" id="taiwanAddress" placeholder="地址">
					</div>
				</div>
			</div>
		</dd>
	</dl>

	<hr>

	<dl class="row">
		<dt class="col-md-3">
			學歷
		</dt>
		<dd class="col-md-9">
			<div class="row">
				<div class="col-md-8">
					<div class="form-group">
						<label class="text-danger" for="educationDescription">學制描述</label>
						<input type="text" class="form-control" id="educationDescription" placeholder="xx小學6年、xx中學3年、xx高中3年">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="text-danger">學校所在地</label>
						<div class="row">
							<div class="col-md-4">
								<select class="form-control" id="schoolState">
									<option value="00">State</option>
									<option value="亞洲">亞洲</option>
									<option value="歐洲">歐洲</option>
									<option value="美洲">美洲</option>
									<option value="非洲">非洲</option>
									<option value="大洋洲">大洋洲</option>
								</select>
							</div>
							<div class="col-md-4">
								<select class="form-control" id="schoolCountry">
									<option value="">Country</option>
									<option value="">one</option>
									<option value="">two</option>
									<option value="">three</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label class="text-danger" for="schoolLocation">學校所在地</label>
						<select class="form-control" id="schoolLocation">
							<option>澳門半島</option>
						</select>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label class="text-danger" for="schoolName">學校名稱</label>
						<select class="form-control" id="schoolName">
							<option>培正中學</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label class="text-danger" for="admissionDate">入學時間</label>
						<input class="form-control" type="month" id="admissionDate" value="">
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label class="text-danger" for="graduationDate">畢業時間</label>
						<input class="form-control" type="month" id="graduationDate" value="">
					</div>
				</div>
			</div>
		</dd>
	</dl>

	<hr>

	<dl class="row">
		<dt class="col-md-3">
			家長資料
		</dt>
		<dd class="col-md-9">
			<div class="row">
				<div class="col-md-10 col-lg-9">
					<div class="card">
						<div class="card-header">
							父親
						</div>
						<div class="card-block">
							<div class="row">
								<div class="col-md-8">
									<div class="form-group">
										<label class="text-danger" for="">存歿</label><br>
										<div class="form-check form-check-inline">
											<label class="form-check-label">
												<input class="form-check-input fatherStatus" type="radio" name="fatherStatus" value="1" checked> 存
											</label>
										</div>
										<div class="form-check form-check-inline">
											<label class="form-check-label">
												<input class="form-check-input fatherStatus" type="radio" name="fatherStatus" value="2"> 歿
											</label>
										</div>
										<div class="form-check form-check-inline">
											<label class="form-check-label">
												<input class="form-check-input fatherStatus" type="radio" name="fatherStatus" value="3"> 不詳
											</label>
										</div>
									</div>
								</div>
							</div>
							<div id="form-fatherData">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="text-danger" for="fatherName">姓名（中）</label>
											<input type="text" class="form-control" id="fatherName" placeholder="">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="text-danger" for="engFatherName">姓名（英）</label>
											<input type="text" class="form-control" id="engFatherName" placeholder="">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="text-danger" for="fatherBirthday">生日</label>
											<input type="date" class="form-control" id="fatherBirthday" placeholder="">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="fatherNativePlace">籍貫</label>
											<input type="text" class="form-control" id="fatherNativePlace" placeholder="">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="text-danger" for="fatherJob">職業</label>
											<input type="text" class="form-control" id="fatherJob" placeholder="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<br>
					<div class="card">
						<div class="card-header">
							母親
						</div>
						<div class="card-block">
							<div class="row">
								<div class="col-md-8">
									<div class="form-group" id="motherStatus">
										<label class="text-danger" for="">存歿</label><br>
										<div class="form-check form-check-inline">
											<label class="form-check-label">
												<input class="form-check-input motherStatus" type="radio" name="mother" value="1" checked> 存
											</label>
										</div>
										<div class="form-check form-check-inline">
											<label class="form-check-label">
												<input class="form-check-input motherStatus" type="radio" name="mother" value="2"> 歿
											</label>
										</div>
										<div class="form-check form-check-inline">
											<label class="form-check-label">
												<input class="form-check-input motherStatus" type="radio" name="mother" id="btn-motherUnknown" value="3"> 不詳
											</label>
										</div>
									</div>
								</div>
							</div>
							<div id="form-motherData">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="text-danger" for="motherName">姓名（中）</label>
											<input type="text" class="form-control" id="motherName" placeholder="">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="text-danger" for="engMotherName">姓名（英）</label>
											<input type="text" class="form-control" id="engMotherName" placeholder="">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="text-danger" for="motherBirthday">生日</label>
											<input type="date" class="form-control" id="motherBirthday" placeholder="">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="motherNativePlace">籍貫</label>
											<input type="text" class="form-control" id="motherNativePlace" placeholder="">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="text-danger" for="motherJob">職業</label>
											<input type="text" class="form-control" id="motherJob" placeholder="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div id="form-guardian" style="display: none">
						<br>
						<div class="alert alert-success" role="alert">
							<b>
								<i class="fa fa-exclamation-circle" aria-hidden="true"></i> 請填寫監護人資料。
							</b>
						</div>
						<div class="card">
							<div class="card-header">
								監護人
							</div>
							<div class="card-block">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="text-danger" for="guardianName">姓名（中）</label>
											<input type="text" class="form-control" id="guardianName" placeholder="">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="text-danger" for="engGuardianName">姓名（英）</label>
											<input type="text" class="form-control" id="engGuardianName" placeholder="">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="text-danger" for="guardianBirthday">生日</label>
											<input type="date" class="form-control" id="guardianBirthday" placeholder="">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="guardianNativePlace">籍貫</label>
											<input type="text" class="form-control" id="guardianNativePlace" placeholder="">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="text-danger" for="guardianJob">職業</label>
											<input type="text" class="form-control" id="guardianJob" placeholder="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</dd>
	</dl>

	<hr>

	<dl class="row">
		<dt class="col-md-3">
			在台聯絡人
		</dt>
		<dd class="col-md-9">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label for="contactPersonName">姓名</label>
						<input type="text" class="form-control" id="contactPersonName" placeholder="">
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="contactPersonRelation">關係</label>
						<input type="text" class="form-control" id="contactPersonRelation" placeholder="">
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="contactPersonPhone">聯絡電話</label>
						<input type="text" class="form-control" id="contactPersonPhone" placeholder="">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<div class="form-group">
						<label for="contactPersonAddress">地址</label>
						<input type="text" class="form-control" id="contactPersonAddress" placeholder="">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label for="serviceName">服務機關名稱</label>
						<input type="text" class="form-control" id="serviceName" placeholder="">
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="servicePhone">服務機關電話</label>
						<input type="text" class="form-control" id="servicePhone" placeholder="">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<div class="form-group">
						<label for="serviceAddress">服務機關地址</label>
						<input type="text" class="form-control" id="serviceAddress" placeholder="">
					</div>
				</div>
			</div>
		</dd>
	</dl>

</div>

<hr>

<div class="row">
	<div class="col-12 text-center">
		<a class="btn btn-primary" id="btn-save" role="button">儲存</a>
	</div>
</div>

