<div class="row" id="final-page">
    <div class="col-12" id="recommendation-letter-upload">
        <div class="card">
            <div class="card-header bg-primary text-white">
                師長推薦函 (Recommendation letter(s) from teachers)
            </div>
            <div class="card-body">
                <div class="alert alert-warning">
                    可接受副檔名為 <strong class="text-danger">pdf、jpg、png</strong> 的檔案，單一個檔案大小需 <strong class="text-danger">小於 4 Mbytes</strong> 。
                </div>
                <div class="row" style="margin-bottom: 15px;">
                    <div class="col-12">
                        <input id="uploadfile" type="file" class="filestyle file-certificate" data-type="" data-deptid="" accept=".jpg,.png,.pdf,.jpeg" multiple />
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"><span>已選擇 <span id="preview" style="color:lightseagreen"></span> 個檔案</span> <small class="text-muted">(為保護隱私無法預覽檔案，請小心選擇)</small></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row" id="recommendation-letter-upload-btn">
    <div class="col-12 text-center">
        <button class="btn btn-primary" id="btn-save">
            <i class="fa fa-floppy-o" aria-hidden="true"></i> 確認並上傳
        </button>
    </div>
</div>