<div class="Register pb-5">
	<h4>註冊帳號</h4>
	<div class="row">
		<div class="col-md-10 offset-md-2">
			<div class="row">
				<div class="col-10">
					<div class="form-group">
						<label for="Register__inputEmail">帳號(E-Mail)</label>
						<input type="email" class="form-control" id="Register__inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
						<small id="emailHelp" class="form-text text-muted">建議使用 Gmail 或 Yahoo 信箱註冊，註冊後請至 E-Mail 閱讀帳號開通信。</small>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-10">
					<div class="form-group">
						<label for="Register__inputPassword">密碼</label>
						<input type="password" class="form-control" id="Register__inputPassword" placeholder="Password">
						<small class="form-text text-muted" id="password-warning">請輸入大於等於 <span class="text-danger">8</span> 個字元</small>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-10">
					<div class="form-group">
						<label for="Register__inputPasswordConfirm">確認密碼</label>
						<input type="password" class="form-control" id="Register__inputPasswordConfirm" placeholder="Password">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-10">
					<div class="form-group">
						<label for="identifyingCode">驗證碼</label>
						<div>
							<input type="text" class="col-sm-5 " style = "vertical-align:middle"  id="identifyingCode" placeholder = "點圖可更新驗證碼">
							<canvas id="identifyingCanvas" style = "vertical-align:middle" width="120" height="40"></canvas>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-4 mb-4">
				<div class="col-md-4 offset-md-3">
					<div class="form-group">
						<button class="btn btn-primary btn-block Register__btnRegister">註冊</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/gh/emn178/js-sha256/src/sha256.js"></script>
