<% include components/_studentInfo %>

<h2 class="text-center title">志願檢視</h2>

<hr>

<div class="row hide" id="form-olympia">
	<div class="col-12">
		<div class="card">
			<div class="card-header bg-primary text-white">奧林匹亞志願</div>
			<div class="card-block">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>序號</th>
							<th>志願代碼</th>
							<th>校系名稱</th>
						</tr>
					</thead>
					<tbody id="tbody-olympia">
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<hr>
</div>

<div class="row hide" id="form-admission">
	<div class="col-12">
		<div class="card">
			<div class="card-header bg-primary text-white">個人申請志願</div>
			<div class="card-block">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>序號</th>
							<th>志願代碼</th>
							<th>校系名稱</th>
						</tr>
					</thead>
					<tbody id="tbody-admission">
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<hr>
</div>

<div class="row hide" id="form-placement">
	<div class="col-12">
		<div class="card">
			<div class="card-header bg-primary text-white">聯合分發志願</div>
			<div class="card-block">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>序號</th>
							<th>志願代碼</th>
							<th>校系名稱</th>
						</tr>
					</thead>
					<tbody id="tbody-placement">
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<hr>
</div>

<div class="row hide" id="form-no-select">
	<div class="col-12 text-center">
		<h3>- 沒有選擇志願 -</h3>
	</div>
	<hr>
</div>

<div class="row" id="div-previewData">
	<div class="col-12">
		<div class="row">
			<div class="col-md-6 text-center">
				<a class="btn btn-success quota-button" target="_blank" href="#" id="btn-previewPersonalData">
					<i class="fa fa-link" aria-hidden="true"></i> 預覽個人資料
				</a> <br>
				<small>供未確認資料者下載（非正式文件，僅供檢視）</small>
			</div>
			<div class="col-md-6 text-center">
				<a class="btn btn-success quota-button" target="_blank" href="#" id="btn-previewPlacementList">
					<i class="fa fa-link" aria-hidden="true"></i> 預覽聯合分發志願列表
				</a> <br>
				<small>供未確認聯合分發志願者下載（非正式文件，僅供檢視）</small>
			</div>
		</div>
	</div>
	<div class="col-12">
		<hr>
	</div>
</div>
