<%- include ('components/_studentInfo') %>
<!--<META HTTP-EQUIV="pragma" CONTENT="no-cache">-->
<!--<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">-->
<!--<META HTTP-EQUIV="expires" CONTENT="0">-->

<h2 class="text-center title">上傳四校聯考成績單</h2>

<hr>

<div class="alert alert-info">
	<ul>
		<li>
            請登錄 <a class="info-exam-year"></a> 年「澳門四校聯考」科目之成績
        </li>

        <li>
            各科目之<strong class="text-danger">原始成績（未加權）</strong>為<strong> 必填欄位</strong>。
        </li>

		<li>
            上傳並提交之成績證明：如成績報告或成績查詢網頁截圖，需含「<strong class="text-danger">個人基本資料</strong>」（如姓名、身分證號碼等）。
        </li>
        <li>
			按下<strong class="text-danger">【確定鎖定並不再更正】</strong>按鍵後，上傳的檔案與登記的成績就無法再做任何變更，請務必在鎖定前檢視各科目上傳之檔案及成績無誤後再鎖定。
		</li>
	</ul>
</div>

<div class="alert alert-danger hide" role="alert" id="confirmed_text">
    <strong style="font-size: xx-large;">您已上傳並鎖定四校聯考成績資料。</strong>
</div>

<div id = "transcript_page">
    <div class="card border-info" style="border-width: thick">
        <div class="card-header bg-info text-white vertical-align:middle;" style="font-size:150%">
            中文
        </div>
        <div class="card-body">
            <div class="col-md-12">
				<div class="form-group">
					<label><strong>請問是否有有考此科目？</strong></label><br>
					<div class="form-check form-check-inline">
						<label class="form-check-label">
							<input class="form-check-input radio-chineseScore" type="radio" name="chineseScore" value="1"> 是
						</label>
					</div>
					<div class="form-check form-check-inline">
						<label class="form-check-label">
							<input class="form-check-input radio-chineseScore" type="radio" name="chineseScore" value="0"> 否
						</label>
					</div>
				</div>
			</div>
            <hr class="chineseScoreInputArea hide"/>
            <div class="col-md-12 chineseScoreInputArea hide">
                <label><strong>考取的中文成績為?</strong></label>
                <div class="form-group row">
                    <label class="offset-md-1 text-danger">未加權：</label>
                    <input class="form-control col-4" id="chineseScoreInput" style="" data-subject='02' >
                    <label class="col-5 text-muted">(成績輸入應介於 350 ～ 1000 之間)</label>
                </div>
                <div class="form-group row">
                    <label class="offset-md-1">加權後：</label>
                    <input class="form-control col-4" id="weightedChineseScoreInput" style="" data-subject='02' >
                    <label class="col-5 text-muted">(成績輸入應介於 350 ～ 1000 之間)</label>
                </div>
            </div>
            <hr class="chineseScoreInputArea hide"/>
            <div class="col-md-12 hide" id="chineseScoreUploadArea">
                <label><strong>上傳文憑成績單或查詢網頁截圖（請確保上傳頁面完整，且含：個人基本資料、科目名稱及成績等…）</strong></label>
                <div class="alert alert-warning">
                    可接受副檔名為 <strong class="text-danger">pdf、jpg、png</strong> 的檔案，單一個檔案大小需 <strong class="text-danger">小於 4 Mbytes</strong> 。
                </div>

                <div class="row" style="margin-bottom: 15px;">
                    <div class="col-12">
                        <input type="file" class="filestyle file-upload" id="chineseScoreFileUpload"
                        data-subject="01"
                        data-btnClass="btn-success"
                        data-input="false"
                        data-text=" 選取檔案"
                        data-Icon="<i class='fa fa-folder-open' aria-hidden='true'/>"
                        >
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"><span>已上傳檔案</span> <small class="text-muted">(點圖可放大或刪除)</small></h4>
                        <div id="chineseScoreUploadedFileArea">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="card border-info" style="border-width: thick">
        <div class="card-header bg-info text-white vertical-align:middle;" style="font-size:150%">
            英文
        </div>
        <div class="card-body">
            <div class="col-md-12">
				<div class="form-group">
					<label><strong>請問是否有有考此科目？</strong></label><br>
					<div class="form-check form-check-inline">
						<label class="form-check-label">
							<input class="form-check-input radio-englishScore" type="radio" name="englishScore" value="1"> 是
						</label>
					</div>
					<div class="form-check form-check-inline">
						<label class="form-check-label">
							<input class="form-check-input radio-englishScore" type="radio" name="englishScore" value="0"> 否
						</label>
					</div>
				</div>
			</div>
            <hr class="englishScoreInputArea hide"/>
            <div class="col-md-12 englishScoreInputArea hide">
                <label><strong>考取的英文成績為?</strong></label>
                <div class="form-group row">
                    <label class="offset-md-1 text-danger">未加權：</label>
                    <input class="form-control col-4" id="englishScoreInput" style="" data-subject='02' >
                    <label class="col-5 text-muted">(成績輸入應介於 350 ～ 1000 之間)</label>
                </div>
                <div class="form-group row">
                    <label class="offset-md-1">加權後：</label>
                    <input class="form-control col-4" id="weightedEnglishScoreInput" style="" data-subject='02' >
                    <label class="col-5 text-muted">(成績輸入應介於 350 ～ 1000 之間)</label>
                </div>
            </div>
            <hr class="englishScoreInputArea hide"/>
            <div class="col-md-12 hide" id="englishScoreUploadArea">
                <label><strong>上傳文憑成績單或查詢網頁截圖（請確保上傳頁面完整，且含：個人基本資料、科目名稱及成績等…）</strong></label>
                <div class="alert alert-warning">
                    可接受副檔名為 <strong class="text-danger">pdf、jpg、png</strong> 的檔案，單一個檔案大小需 <strong class="text-danger">小於 4 Mbytes</strong> 。
                </div>

                <div class="row" style="margin-bottom: 15px;">
                    <div class="col-12">
                        <input type="file" class="filestyle file-upload" id="englishScoreFileUpload"
                        data-subject="02"
                        data-btnClass="btn-success"
                        data-input="false"
                        data-text=" 選取檔案"
                        data-Icon="<i class='fa fa-folder-open' aria-hidden='true'/>"
                        >
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"><span>已上傳檔案</span> <small class="text-muted">(點圖可放大或刪除)</small></h4>
                        <div id="englishScoreUploadedFileArea">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="card border-info" style="border-width: thick">
        <div class="card-header bg-info text-white vertical-align:middle;" style="font-size:150%">
            數學
        </div>
        <div class="card-body">
            <div class="col-md-12">
				<div class="form-group">
					<label><strong>請問是否有有考此科目？</strong></label><br>
					<div class="form-check form-check-inline">
						<label class="form-check-label">
							<input class="form-check-input radio-mathScore" type="radio" name="mathScore" value="1"> 是
						</label>
					</div>
					<div class="form-check form-check-inline">
						<label class="form-check-label">
							<input class="form-check-input radio-mathScore" type="radio" name="mathScore" value="0"> 否
						</label>
					</div>
				</div>
			</div>
            <hr class="mathScoreInputArea hide"/>
            <div class="col-md-12 mathScoreInputArea hide">
                <label><strong>考取的數學成績為?</strong></label>
                <div class="form-group row">
                    <label class="offset-md-1 text-danger">未加權：</label>
                    <input class="form-control col-4" id="mathScoreInput" style="" data-subject='03' >
                    <label class="col-5 text-muted">(成績輸入應介於 350 ～ 1000 之間)</label>
                </div>
                <div class="form-group row">
                    <label class="offset-md-1">加權後：</label>
                    <input class="form-control col-4" id="weightedMathScoreInput" style="" data-subject='03' >
                    <label class="col-5 text-muted">(成績輸入應介於 350 ～ 1000 之間)</label>
                </div>
            </div>
            <hr class="mathScoreInputArea hide"/>
            <div class="col-md-12 hide" id="mathScoreUploadArea">
                <label><strong>上傳文憑成績單或查詢網頁截圖（請確保上傳頁面完整，且含：個人基本資料、科目名稱及成績等…）</strong></label>
                <div class="alert alert-warning">
                    可接受副檔名為 <strong class="text-danger">pdf、jpg、png</strong> 的檔案，單一個檔案大小需 <strong class="text-danger">小於 4 Mbytes</strong> 。
                </div>

                <div class="row" style="margin-bottom: 15px;">
                    <div class="col-12">
                        <input type="file" class="filestyle file-upload" id="mathScoreFileUpload"
                        data-subject="03"
                        data-btnClass="btn-success"
                        data-input="false"
                        data-text=" 選取檔案"
                        data-Icon="<i class='fa fa-folder-open' aria-hidden='true'/>"
                        >
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"><span>已上傳檔案</span> <small class="text-muted">(點圖可放大或刪除)</small></h4>
                        <div id="mathScoreUploadedFileArea">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="card border-info" style="border-width: thick">
        <div class="card-header bg-info text-white vertical-align:middle;" style="font-size:150%">
            數學（附加卷）
        </div>
        <div class="card-body">
            <div class="col-md-12">
				<div class="form-group">
					<label><strong>請問是否有有考此科目？</strong></label><br>
					<div class="form-check form-check-inline">
						<label class="form-check-label">
							<input class="form-check-input radio-additionalMathScore" type="radio" name="additionalMathScore" value="1"> 是
						</label>
					</div>
					<div class="form-check form-check-inline">
						<label class="form-check-label">
							<input class="form-check-input radio-additionalMathScore" type="radio" name="additionalMathScore" value="0"> 否
						</label>
					</div>
				</div>
			</div>
            <hr class="additionalMathScoreInputArea hide"/>
            <div class="col-md-12 additionalMathScoreInputArea hide">
                <label><strong>考取的數學（附加卷）成績為?</strong></label>
                <div class="form-group row">
                    <label class="offset-md-1 text-danger">未加權：</label>
                    <input class="form-control col-4" id="additionalMathScoreInput" style="" data-subject='04' >
                    <label class="col-5 text-muted">(成績輸入應介於 350 ～ 1000 之間)</label>
                </div>
                <div class="form-group row">
                    <label class="offset-md-1">加權後：</label>
                    <input class="form-control col-4" id="weightedAdditionalMathScoreInput" style="" data-subject='04' >
                    <label class="col-5 text-muted">(成績輸入應介於 350 ～ 1000 之間)</label>
                </div>
            </div>
            <hr class="additionalMathScoreInputArea hide"/>
            <div class="col-md-12 hide" id="additionalMathScoreUploadArea">
                <label><strong>上傳文憑成績單或查詢網頁截圖（請確保上傳頁面完整，且含：個人基本資料、科目名稱及成績等…）</strong></label>
                <div class="alert alert-warning">
                    可接受副檔名為 <strong class="text-danger">pdf、jpg、png</strong> 的檔案，單一個檔案大小需 <strong class="text-danger">小於 4 Mbytes</strong> 。
                </div>

                <div class="row" style="margin-bottom: 15px;">
                    <div class="col-12">
                        <input type="file" class="filestyle file-upload" id="additionalMathScoreFileUpload"
                        data-subject="04"
                        data-btnClass="btn-success"
                        data-input="false"
                        data-text=" 選取檔案"
                        data-Icon="<i class='fa fa-folder-open' aria-hidden='true'/>"
                        >
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"><span>已上傳檔案</span> <small class="text-muted">(點圖可放大或刪除)</small></h4>
                        <div id="additionalMathScoreUploadedFileArea">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top:3%;">
        <div class="col-6 text-center">
            <button class="btn btn-primary" id="btn-save" role="button" data-action="save"><i class="fa fa-save" aria-hidden="true"></i> 儲存</button>
        </div>

        <div class="col-6 text-center">
            <button class="btn btn-warning" id="btn-go-Confirm" role="button" data-action="goConfirm"><i class="fa fa-check" aria-hidden="true"></i> 至確認鎖定頁面</button>
        </div>
    </div>
</div>

<div class="modal fade img-modal" tabindex="-1" role="dialog" aria-labelledby="imgModal" aria-hidden="true" id="img-modal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body text-center" id="img-modal-body">
				<img src="" class="img-fluid rounded img-ori">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-delFile hide"><i class="fa fa-trash" aria-hidden="true"></i> 刪除</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-sign-out" aria-hidden="true"></i> 離開</button>
			</div>
		</div>
	</div>
</div>



<div class="hide" id="confirm_page">
    <div id="accordion">
        <!--中文-->
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" id="confirmed_chinese_score" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body" id="confirmed_chinese_uploaded_file">

                </div>
            </div>
        </div>
        <!--英文-->
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link" id="confirmed_english_score" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">

                    </button>
                </h5>
            </div>

            <div id="collapseTwo" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body" id="confirmed_english_uploaded_file">

                </div>
            </div>
        </div>
        <!--數學-->
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link" id="confirmed_math_score" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">

                    </button>
                </h5>
            </div>

            <div id="collapseThree" class="collapse dispose" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body" id="confirmed_math_uploaded_file">

                </div>
            </div>
        </div>
        <!--數學（附加卷）-->
        <div class="card">
            <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                    <button class="btn btn-link" id="confirmed_additional_math_score" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">

                    </button>
                </h5>
            </div>

            <div id="collapseFour" class="collapse " aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body" id="confirmed_additional_math_uploaded_file">

                </div>
            </div>
        </div>

        <div class=" row" style="padding-top:3%;">
            <div class="col-md text-center">
                <button type="button" class="btn btn-secondary" id="btn-back" data-dismiss="modal"><i class="fa fa-reply" aria-hidden="true"></i> 回上一頁繼續修改</button>
            </div>
            <div class="col-md text-center">
                <button type="button" id="btn-confirm" class="btn btn-danger" data-dismiss="modal" ><i class="fa fa-lock" aria-hidden="true"></i> 確定鎖定並不再更正</button>
                <!-- <br><small class="text-danger">此按鈕於四校聯考公告成績後始具功能，</small>
                <br><small class="text-danger">屆時請確實完成鎖定。</small> -->
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesome-bootstrap-checkbox/1.0.2/awesome-bootstrap-checkbox.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/1.3.0/bootstrap-filestyle.min.js"> </script>

