<%- include ('components/_studentInfo') %>

<h2 class="text-center title">上傳系所備審資料</h2>
<div class="alert alert-info">
	<ul>
		<li>
			請於<span id="admission-doc-time-limit" style="color:red"></span>完成志願校系審查資料上傳作業並提交。
		</li>
		<li>
			<strong>所有未放棄上傳資料的志願，其必繳項目都至少要上傳一個檔案</strong>，<span style="color:red">否則無法完成提交</span>。
		</li>
		<li>
			申請人如欲放棄上傳部份志願校系資料，可於該放棄志願點選
			<button type="button" class="btn btn-danger btn-sm"><i class="fa fa-times" aria-hidden="true"></i></button>按鍵。
			如欲恢復上傳，可點選<button type="button" class="btn btn-success btn-sm"><i class="fa fa-repeat" aria-hidden="true"></i></button>按鍵。
			惟一旦按下【確認上傳資料並提交】按鍵後，一律不得以任何理由要求撤回或修改。
		</li>
		<li>
			一經按下<span style="color:red">「確認上傳資料並提交」</span>按鍵後，上傳的檔案就無法再做任何變更。請務必檢視各志願校系上傳之檔案項目、內容及數量無誤後再提交。
		</li>
		<li>
			按下『確認上傳資料並提交』，系統將產生<span style="color:red">「志願校系審查資料上傳確認信」</span>，<strong>並發送電郵供留存參考，始完成審查資料提交程序</strong>。
		</li>
		<li>
			<span style="color:red">逾前開上傳截止時間，系統即關閉審查資料上傳功能，申請人請預留審查資料上傳時間，以免上傳失敗。未完成前開提交程序者，<strong>一律不予分發「個人申請」</strong>。</span>
		</li>
	</ul>
</div>
<div class="alert alert-warning">
	<ul>
		常用文書軟體轉換 PDF 方式說明如下：
		<li>LibreOffice：<br/><a href="https://help.libreoffice.org/Common/Export_as_PDF/zh-TW" target="_blank">https://help.libreoffice.org/Common/Export_as_PDF/zh-TW</a></li>
		<li>Microsoft Office：<br/><a href="https://support.office.com/zh-tw/article/儲存或轉換為-pdf-或-xps-d85416c5-7d77-4fd6-a216-6f4bf7c7c110" target="_blank">https://support.office.com/zh-tw/article/儲存或轉換為-pdf-或-xps-d85416c5-7d77-4fd6-a216-6f4bf7c7c110</a></li>
		<li>Apple Pages：<br/><a href="https://support.apple.com/zh-tw/HT202227" target="_blank">https://support.apple.com/zh-tw/HT202227</a></li>
	</ul>
</div>
<div id="wrap-wishList">
	<div class="row">
		<div class="col-12">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>志願序</th>
						<th>志願代碼</th>
						<th>學系名稱</th>
						<th>上傳資料</th>
						<th class="column-wishGiveUpChange">放棄上傳<br/>備審資料</th>
					</tr>
				</thead>
				<tbody id="wishList" class="table-warning">
				</tbody>
			</table>
		</div>
	</div>
</div>

<div id="form-upload" style="display: none;">
	<hr>
	<dl class="row">
		<dt class="col-4 col-md-2">
			志願代碼
		</dt>
		<dd id="deptId" class="col-8 col-md-10"></dd>
		<dt class="col-4 col-md-2">
			學校名稱
		</dt>
		<dd id="schoolName" class="col-8 col-md-10"></dd>
		<dt class="col-4 col-md-2">
			系所名稱
		</dt>
		<dd id="deptName" class="col-8 col-md-10"></dd>
	</dl>

	<div id="reviewItemsArea">
	</div>

	<div class="row">
		<div class="col-12 text-center">
			<button class="btn btn-primary" id="btn-save">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> 儲存
			</button>
			<button class="btn btn-danger" id="btn-exit">
				<i class="fa fa-times-circle" aria-hidden="true"></i> 不儲存離開
			</button>
		</div>
	</div>
</div>

<div class="modal fade img-modal" tabindex="-1" role="dialog" aria-labelledby="imgModal" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body text-center" id="img-modal-body">
				<img src="" class="img-fluid rounded img-ori">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-delImg"><i class="fa fa-trash" aria-hidden="true"></i> 刪除</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-sign-out" aria-hidden="true"></i> 離開</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/1.3.0/bootstrap-filestyle.min.js"> </script>
<!-- Doc: http://markusslima.github.io/bootstrap-filestyle/ -->
