<% include components/_studentInfo %>

<h2 class="text-center title">上傳學歷證件</h2>

<hr>

<div id="form-uploadEducation">
	<div id="form-diploma" class="card">
		<div class="card-header bg-primary text-white">
			學歷證明
		</div>
		<div class="card-block">
			<div class="row">
				<div class="col-12">
					<div class="alert alert-warning" role="alert">
						可接受副檔名為 <strong class="text-danger">.jpg、.png</strong> 的圖檔，建議大小為 <strong class="text-danger">A4 Size 970px(寬) * 1100px(高)</strong> ，單一個檔案大小需 <strong class="text-danger">小於 4 Mbytes</strong> 。
					</div>
				</div>
			</div>
			<div class="row" style="margin-bottom: 15px;">
				<div class="col-12">
					<input id="file-diploma" type="file" class="filestyle file-upload" data-uploadtype="diploma" multiple>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-block">
							<h4 class="card-title"><span id="title-diploma">已上傳學歷證明</span> <small class="text-muted">(點圖可放大或刪除)</small></h4>
							<div id="diplomaImgArea">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<hr>

	<div id="form-transcripts" class="card">
		<div class="card-header bg-primary text-white">
			成績單
		</div>
		<div class="card-block">
			<div class="row">
				<div class="col-12">
					<div class="alert alert-warning" role="alert">
						可接受副檔名為 <strong class="text-danger">.jpg、.png</strong> 的圖檔，建議大小為 <strong class="text-danger">A4 Size 970px(寬) * 1100px(高)</strong> ，單一個檔案大小需 <strong class="text-danger">小於 4 Mbytes</strong> 。
					</div>
				</div>
			</div>
			<div class="row" style="margin-bottom: 15px;">
				<div class="col-12">
					<input id="file-transcripts" type="file" class="filestyle file-upload" data-uploadtype="transcripts" multiple>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-block">
							<h4 class="card-title"><span id="title-transcripts">已上傳成績單</span> <small class="text-muted">(點圖可放大或刪除)</small></h4>
							<div id="transcriptsImgArea">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="imgModal" class="modal fade img-modal" tabindex="-1" role="dialog" aria-labelledby="imgModal" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body text-center">
				<img id="img-modalDetail" src="http://via.placeholder.com/970x1100" class="img-fluid rounded">
			</div>
			<div class="modal-footer">
				<button id="btn-modalDelete" type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-sign-out" aria-hidden="true"></i> Exit</button>
			</div>
		</div>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-12 text-center">
		<a class="btn btn-primary" href="./admissionSelection.html" role="button">儲存</a>
	</div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/1.3.0/bootstrap-filestyle.min.js"> </script>
<!-- Doc: http://markusslima.github.io/bootstrap-filestyle/ -->
