<%- include ('components/_studentInfo') %>

<h2 class="text-center title">上傳簡章規定文件</h2>

<div class="alert alert-primary alert-Precautions" role="alert">  <!--讓馬來西亞學生可以線上上傳各項證明文件-->
	<p>
		致：馬來西亞報名學生
		<br /><br />
		為因應全球疫情影響及爭取時效，本年馬來西亞報名學生<span class="text-danger" style="font-weight: bold">一律務必於填報系統上傳招生簡章規定之文件</span>，且紙本報名表件仍須送交我政府駐馬來西亞代表處或僑務主管機關指定之保薦單位，始完成報名。
		<br />
		<ul>
			<li><b>步驟① 線上填報</b>：至<a class ='info-date'></a>止，請於填報系統填寫個人基本資料及選填志願校系，檢視無誤後點選『確認填報資料』。</li>
			<li><b>步驟② 紙本繳件</b>：至<a class ='info-date'></a>止，請於填報系統『下載報名表件』頁面列印系統產生的報名表件，並附上簡章規定文件，於期限內送交<a href="https://www.ocac.gov.tw/OCAC/Pages/VDetail.aspx?nodeid=1873&pid=35087409" target="_blank">保薦單位</a>（例：留台同學會、獨中）。</li>
            <li><b>步驟③ 上傳簡章規定文件<a class="text-danger">（NEW）</a>：</b>&nbsp;至<a class ='info-date'></a>止，請於填報系統的『上傳簡章規定文件』頁面，上傳簡章規定文件並按下『儲存』即可。</li>
            <li class="step-4 hide"></li>
            <li class="step-5 hide"></li>
		</ul>
		<br />
	</p>
	<hr>
	請同學上傳下列文件（詳請見<a class="link-pdf" href="" target="_blank"></a>第三頁或<a class="link-pdf-cut" href="" target="_blank">點我看內容</a>）：
	<br /><br />
	<ul style="font-weight: bold">
		<li>僑居地居留證件（身分證或護照影本）</li>
		<li>在學證明 / 畢業證書 / 修業證明 / 離校證明</li>
		<li>中學成績單</li>
		<li class="transcript-info"></li>
		<li>其它（例：系統產生切結書、資料修正表等，無則免附。）</li>
	</ul>
</div>

<hr>
<div id="form-uploadArea">
    <div class="card" id="upload-identity-area">
        <div class="card-header bg-primary text-white">
            僑居地居留證件（身分證或護照影本）
        </div>
        <div class="card-body">
            <div class="alert alert-warning">
                可接受副檔名為 <strong class="text-danger">.jpg、.png</strong> 的圖檔或 <strong class="text-danger">PDF</strong>，建議大小為 <strong class="text-danger">A4 Size 970px(寬) * 1100px(高)</strong> ，單一個檔案大小需 <strong class="text-danger">小於 4 Mbytes</strong> 。
            </div>

            <div class="row" style="margin-bottom: 15px;">
                <div class="col-12">
                    <input type="file" class="filestyle file-upload" id="identity-upload"
                    data-btnClass="btn-success"
                    data-input="false"
                    data-type="identity"
                    data-text=" 選取檔案"
                    data-Icon="<i class='fa fa-folder-open' aria-hidden='true'/>"
                    multiple>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><span>已上傳檔案</span> <small class="text-muted">(點圖可放大或刪除)</small></h4>
                    <div id="identity-uploaded-files">
                    </div>
                </div>
            </div>
        </div>
    </div>

	<hr>

	<div class="card" id="upload-diploma-area">
        <div class="card-header bg-primary text-white">
            在學證明 / 畢業證書 / 修業證明 / 離校證明
        </div>
        <div class="card-body">
            <div class="alert alert-warning">
                可接受副檔名為 <strong class="text-danger">.jpg、.png</strong> 的圖檔或 <strong class="text-danger">PDF</strong>，建議大小為 <strong class="text-danger">A4 Size 970px(寬) * 1100px(高)</strong> ，單一個檔案大小需 <strong class="text-danger">小於 4 Mbytes</strong> 。
            </div>

            <div class="row" style="margin-bottom: 15px;">
                <div class="col-12">
                    <input type="file" class="filestyle file-upload" id="diploma-upload"
                    data-btnClass="btn-success"
                    data-input="false"
                    data-type="diploma"
                    data-text=" 選取檔案"
                    data-Icon="<i class='fa fa-folder-open' aria-hidden='true'/>"
                    multiple>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><span>已上傳檔案</span> <small class="text-muted">(點圖可放大或刪除)</small></h4>
                    <div id="diploma-uploaded-files">
                    </div>
                </div>
            </div>
        </div>
    </div>

	<hr>

	<div class="card" id="upload-transcript-area">
        <div class="card-header bg-primary text-white">
            中學成績單
        </div>
        <div class="card-body">
            <div class="alert alert-warning">
                可接受副檔名為 <strong class="text-danger">.jpg、.png</strong> 的圖檔或 <strong class="text-danger">PDF</strong>，建議大小為 <strong class="text-danger">A4 Size 970px(寬) * 1100px(高)</strong> ，單一個檔案大小需 <strong class="text-danger">小於 4 Mbytes</strong> 。
            </div>

            <div class="row" style="margin-bottom: 15px;">
                <div class="col-12">
                    <input type="file" class="filestyle file-upload" id="transcript-upload"
                    data-btnClass="btn-success"
                    data-input="false"
                    data-type="transcript"
                    data-text=" 選取檔案"
                    data-Icon="<i class='fa fa-folder-open' aria-hidden='true'/>"
                    multiple>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><span>已上傳檔案</span> <small class="text-muted">(點圖可放大或刪除)</small></h4>
                    <div id="transcript-uploaded-files">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

	<div class="card" id="upload-entrypass-area">
        <div class="card-header bg-primary text-white transcript-info">
            准考證
        </div>
        <div class="card-body">
            <div class="alert alert-warning">
                可接受副檔名為 <strong class="text-danger">.jpg、.png</strong> 的圖檔或 <strong class="text-danger">PDF</strong>，建議大小為 <strong class="text-danger">A4 Size 970px(寬) * 1100px(高)</strong> ，單一個檔案大小需 <strong class="text-danger">小於 4 Mbytes</strong> 。
            </div>

            <div class="row" style="margin-bottom: 15px;">
                <div class="col-12">
                    <input type="file" class="filestyle file-upload" id="entrypass-upload"
                    data-btnClass="btn-success"
                    data-input="false"
                    data-type="entrypass"
                    data-text=" 選取檔案"
                    data-Icon="<i class='fa fa-folder-open' aria-hidden='true'/>"
                    multiple>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><span>已上傳檔案</span> <small class="text-muted">(點圖可放大或刪除)</small></h4>
                    <div id="entrypass-uploaded-files">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

	<div class="card" id="upload-others-area">
        <div class="card-header bg-primary text-white">
            其它（例：系統產生切結書、資料修正表等，無則免附。）
        </div>
        <div class="card-body">
            <div class="alert alert-warning">
                可接受副檔名為 <strong class="text-danger">pdf、jpg、png</strong> 的檔案，單一個檔案大小需 <strong class="text-danger">小於 4 Mbytes</strong> 。
            </div>

            <div class="row" style="margin-bottom: 15px;">
                <div class="col-12">
                    <input type="file" class="filestyle file-upload" id="others-upload"
                    data-btnClass="btn-success"
                    data-input="false"
                    data-type="others"
                    data-text=" 選取檔案"
                    data-Icon="<i class='fa fa-folder-open' aria-hidden='true'/>"
                    multiple>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><span>已上傳檔案</span> <small class="text-muted">(點圖可放大或刪除)</small></h4>
                    <div id="others-uploaded-files">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade img-modal" tabindex="-1" role="dialog" aria-labelledby="imgModal" aria-hidden="true" id="img-modal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body text-center" id="img-modal-body">
				<img src="" class="img-fluid rounded img-ori">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-delFile"><i class="fa fa-trash" aria-hidden="true"></i> 刪除</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-sign-out" aria-hidden="true"></i> 離開</button>
			</div>
		</div>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-12 text-center">
		<button class="btn btn-primary btn-save">儲存</button>
	</div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/1.3.0/bootstrap-filestyle.min.js"> </script>
<!-- Doc: http://markusslima.github.io/bootstrap-filestyle/ -->