<% include components/_studentInfo %>

<h2 class="text-center title">上傳簡章規定應繳文件</h2>

<!-- 01 香港永久性居民身份證 -->
<div id="uploadArea_IDCard" ></div>
<div id="uploadArea_IDCard_file"></div>


<!-- 02 自願退學證明 -->
<div id="uploadArea_quitSchool"></div>
<div id="uploadArea_quitSchool_file"></div>

<!-- 03 海外居留年限切結書 -->
<div id="uploadArea_overseasStayYears"></div>
<div id="uploadArea_overseasStayYears_file"></div>


<!-- 04 在臺停留日期 -->
<div id="uploadArea_TaiwanStayDates"></div>
<div id="uploadArea_TaiwanStayDates_file"></div>


<!-- 05 港澳聲聲明書 / 港澳具外國國籍之華裔學生切結書 -->
<div id="uploadArea_HKorMOGuarantee"></div>
<div id="uploadArea_HKorMOGuarantee_file"></div>


<!-- 06 2吋相片 -->
<div id="uploadArea_headshot"></div>
<div id="uploadArea_headshot_file"></div>


<!-- 07 回鄉證 -->
<div id="uploadArea_homeReturnPermit"></div>
<div id="uploadArea_homeReturnPermit_file"></div>


<!-- 08 改名契 -->
<div id="uploadArea_changeOfName"></div>
<div id="uploadArea_changeOfName_file"></div>


<!-- 09 畢業證書/在學證明/學生證 -->
<div id="uploadArea_diploma"></div>
<div id="uploadArea_diploma_file"></div>


<!-- 10 高中最後三年成績單（應屆當學期可免附） -->
<div id="uploadArea_schollTranscript"></div>
<div id="uploadArea_schollTranscript_file"></div>


<!-- 11 學歷屬實及授權查證切結書 -->
<div id="uploadArea_authorizeCheckDiploma"></div>
<div id="uploadArea_authorizeCheckDiploma_file"></div>


<!-- 12 國際數理奧林匹亞競賽或美國國際科展獎項證明 -->
<div id="uploadArea_olympia"></div>
<div id="uploadArea_olympia_file"></div>


<!-- 13 採計文憑成績證書 -->
<div id="uploadArea_placementTranscript"></div>
<div id="uploadArea_placementTranscript_file"></div>


<!-- 14 成績採計資料參考表 -->
<div id="uploadArea_transcriptReferenceTable" ></div>
<div id="uploadArea_transcriptReferenceTable_file"></div>

<!-- 16 就讀全日制副學士或高級文憑課程已通過香港資歷架構第四級之證明文件-->
<div id="uploadArea_techCoursePassedProof" ></div>
<div id="uploadArea_techCoursePassedProof_file"></div>

<!-- 15 符合港澳關係條例切結書-->
<div id="uploadArea_hkmoRelationsOrdinance" ></div>
<div id="uploadArea_hkmoRelationsOrdinance_file"></div>





<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesome-bootstrap-checkbox/1.0.2/awesome-bootstrap-checkbox.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/1.3.0/bootstrap-filestyle.min.js"> </script>
