<% include components/_studentInfo %>

<h2 class="text-center title">上傳簡章規定文件</h2>

<div class="alert alert-primary" role="alert">  <!--因應武漢肺炎疫情，讓馬來西亞第二梯次聯合分發學生可以線上上傳各項證明文件-->
	<p>
		致：報名「聯合分發第2梯次」馬來西亞學生
		<br /><br />
		為因應馬來西亞政府於3月16日發布行動管制令，並為爭取時效，本年馬來西亞「聯合分發」第2梯次<span class="text-danger" style="font-weight: bold">一律務必於填報系統上傳招生簡章規定之文件，上傳期限放寬至4月7日（星期二）止。</span>紙本報名表件仍需送交我政府駐馬來西亞代表處或僑務主管機關指定之保薦單位，始完成報名。（<a href="https://api.overseas.ncnu.edu.tw:8443/forms/簡易報名流程圖.pdf" target="_blank">點我看簡易報名流程圖</a>）
		<br />
		<ul>
			<li><b>步驟① 線上填報</b>：延至3月31日（星期二）止；請於填報系統填寫個人基本資料及選填志願校系，檢視無誤後點選『完成填報』。</li>
			<li><b class="text-danger">步驟② 上傳簡章規定文件（NEW）：延至4月7日（星期二）止；</b>請於本頁面上傳簡章規定文件。</li>
			<li><b>步驟③ 紙本繳件</b>：延至4月7日（星期二）止，請於填報系統『下載報名表件』頁面列印系統產生的報名表件，並附上簡章規定文件，於期限內送交保薦單位（例：留台同學會、獨中）。</li>
		</ul>
		<br />
		<strong class="text-danger">*已完成繳件者，仍請於本頁面補上傳簡章規定文件。</strong>
	</p>
	<hr>
	請同學上傳下列文件（詳請見<a href="https://cmn-hant.overseas.ncnu.edu.tw/sites/default/files/inline-files/01_109%E9%A6%AC%E4%BE%86%E8%A5%BF%E4%BA%9E.pdf" target="_blank">《馬來西亞地區簡章》</a>第三頁或<a href="https://api.overseas.ncnu.edu.tw:8443/img/photo_2020-03-20_16-57-34.jpg" target="_blank">點我看內容</a>）：
	<br /><br />
	<ul style="font-weight: bold">
		<li>僑居地居留證件（身分證或護照影本）</li>
		<li>在學證明 / 畢業證書 / 修業證明 / 離校證明</li>
		<li>中學成績單</li>
		<li>會考文憑（含成績單，例：STPM / A-LEVEL / SPM / O-LEVEL）</li>
		<li>其它（例：系統產生切結書、資料修正表等，無則免附。）</li>
	</ul>
</div>

<hr>

<div id="form-uploadEducation">
	<div id="form-resident-certificate" class="card">
		<div class="card-header bg-primary text-white">
			僑居地居留證件（身分證或護照影本）
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-12">
					<div class="alert alert-warning" role="alert">
						<blockquote id="blockquote-resident-certificate" class="blockquote" style="display: none;">
							<p class="mb-0 text-danger">副學士或高級文憑歷年成績單</p>
						</blockquote>
						可接受副檔名為 <strong class="text-danger">.jpg、.png</strong> 的圖檔，建議大小為 <strong class="text-danger">A4 Size 970px(寬) * 1100px(高)</strong> ，單一個檔案大小需 <strong class="text-danger">小於 4 Mbytes</strong> 。
					</div>
				</div>
			</div>
			<div class="row" style="margin-bottom: 15px;">
				<div class="col-12" id = "resident-upload-area">
					<input id="file-resident-certificate" type="file" class="filestyle file-upload" data-uploadtype="resident-certificate" multiple>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title"><span id="title-resident-certificate">已上傳的僑居地居留證件</span> <small class="text-muted">(點圖可放大或刪除)</small></h4>
							<div id="residentCertificateImgArea">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<hr>

	<div id="form-academic-certificate" class="card">
		<div class="card-header bg-primary text-white">
			在學證明 / 畢業證書 / 修業證明 / 離校證明
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-12">
					<div class="alert alert-warning" role="alert">
						<blockquote id="blockquote-academic-certificate" class="blockquote" style="display: none;">
							<p class="mb-0 text-danger">副學士或高級文憑歷年成績單</p>
						</blockquote>
						可接受副檔名為 <strong class="text-danger">.jpg、.png</strong> 的圖檔，建議大小為 <strong class="text-danger">A4 Size 970px(寬) * 1100px(高)</strong> ，單一個檔案大小需 <strong class="text-danger">小於 4 Mbytes</strong> 。
					</div>
				</div>
			</div>
			<div class="row" style="margin-bottom: 15px;">
				<div class="col-12" id = "academic-upload-area">
					<input id="file-academic-certificate" type="file" class="filestyle file-upload" data-uploadtype="academic-certificate" multiple>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title"><span id="title-academic-certificate">已上傳的學歷證明</span> <small class="text-muted">(點圖可放大或刪除)</small></h4>
							<div id="academicCertificateImgArea">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<hr>

	<div id="form-transcripts" class="card">
		<div class="card-header bg-primary text-white">
			中學成績單
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-12">
					<div class="alert alert-warning" role="alert">
						<blockquote id="blockquote-transcripts" class="blockquote" style="display: none;">
							<p class="mb-0 text-danger">副學士或高級文憑歷年成績單</p>
						</blockquote>
						可接受副檔名為 <strong class="text-danger">.jpg、.png</strong> 的圖檔，建議大小為 <strong class="text-danger">A4 Size 970px(寬) * 1100px(高)</strong> ，單一個檔案大小需 <strong class="text-danger">小於 4 Mbytes</strong> 。
					</div>
				</div>
			</div>
			<div class="row" style="margin-bottom: 15px;">
				<div class="col-12" id = "transcripts-upload-area">
					<input id="file-transcripts" type="file" class="filestyle file-upload" data-uploadtype="transcripts" multiple>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title"><span id="title-transcripts">已上傳的中學成績單</span> <small class="text-muted">(點圖可放大或刪除)</small></h4>
							<div id="transcriptsImgArea">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<hr>

	<div id="form-diploma" class="card">
<!--		<div class="card-header bg-primary text-white">-->
<!--			學歷證明-->
<!--		</div>-->
		<div class="card-header bg-primary text-white">
			會考文憑（含成績單，例：STPM / A-LEVEL / SPM / O-LEVEL）
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-12">
					<div class="alert alert-warning" role="alert">
						<blockquote id="blockquote-diploma" class="blockquote" style="display: none;">
							<p class="mb-0 text-danger">畢業證書或在學證明 (學生證)</p>
						</blockquote>
						可接受副檔名為 <strong class="text-danger">.jpg、.png</strong> 的圖檔，建議大小為 <strong class="text-danger">A4 Size 970px(寬) * 1100px(高)</strong> ，單一個檔案大小需 <strong class="text-danger">小於 4 Mbytes</strong> 。
					</div>
				</div>
			</div>
			<div class="row" style="margin-bottom: 15px;">
				<div class="col-12" id = "diploma-upload-area">
					<input id="file-diploma" type="file" class="filestyle file-upload" data-uploadtype="diploma" multiple>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title"><span id="title-diploma">已上傳的會考文憑</span> <small class="text-muted">(點圖可放大或刪除)</small></h4>
							<div id="diplomaImgArea">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<hr>

	<div id="form-others" class="card">
		<div class="card-header bg-primary text-white">
			其它（例：系統產生切結書、資料修正表等，無則免附。）
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-12">
					<div class="alert alert-info" role="alert">
						**非必繳；完成「線上填報」後，請至填報系統『下載報名表件』頁面確認是否需提供相關文件，無則免附。
					</div>
					<div class="alert alert-warning" role="alert">
						<blockquote id="blockquote-others" class="blockquote" style="display: none;">
							<p class="mb-0 text-danger">副學士或高級文憑歷年成績單</p>
						</blockquote>
						可接受副檔名為 <strong class="text-danger">.jpg、.png</strong> 的圖檔，建議大小為 <strong class="text-danger">A4 Size 970px(寬) * 1100px(高)</strong> ，單一個檔案大小需 <strong class="text-danger">小於 4 Mbytes</strong> 。
					</div>
				</div>
			</div>
			<div class="row" style="margin-bottom: 15px;">
				<div class="col-12" id = "others-upload-area">
					<input id="file-others" type="file" class="filestyle file-upload" data-uploadtype="others" multiple>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title"><span id="title-others">已上傳的檔案</span> <small class="text-muted">(點圖可放大或刪除)</small></h4>
							<div id="othersImgArea">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="imgModal" class="modal fade img-modal" tabindex="-1" role="dialog" aria-labelledby="imgModal" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body text-center">
				<img id="img-modalDetail" src="" class="img-fluid rounded">
			</div>
			<div class="modal-footer">
				<button id="btn-modalDelete" type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-sign-out" aria-hidden="true"></i> Exit</button>
			</div>
		</div>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-12 text-center">
		<button class="btn btn-primary" id="btn-save">儲存</button>
	</div>
</div>

<div class="row">
	<div class="col-12 text-center">
		<button class="btn btn-success hide" id="btn-lock" disabled>收件完成</button>
	</div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/1.3.0/bootstrap-filestyle.min.js"> </script>
<!-- Doc: http://markusslima.github.io/bootstrap-filestyle/ -->
